{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
                            <legend
                                class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                                <h1 class="govuk-fieldset__heading">
                                    You need to call
                                </h1>
                            </legend>
                            <p class="govuk-body">If you do not know which country your child’s other parent lives in,
                                you need to call the Child Maintenance Service to get advice on your options.
                            </p>

                            <p>
                                Find out how to
                            <a href="../contact-details-before-urn.html" class="govuk-link" rel="noreferrer noopener" target="_blank"> contact the Child Maintenance Service (opens in new tab)</a>.
                            
                            </p>
                            
                            

                            <!--

                            
                            <p>
                                <strong>Child Maintenance Service (England, Scotland and Wales)</strong>
                                <br> Telephone: 0800 171 2345
                                <br> Relay UK: 18001 0800 171 2345
                                <br>Monday to Friday, 8.00am to 3.30pm (excluding bank holidays)
                                <br>
                                <br><strong>Child Maintenance Service (Northern Ireland)</strong>
                                <br> Telephone: 0800 232 1956
                                <br> Relay UK: 18001 800 232 1956
                                <br> Monday to Friday, 8.30am to 3.30pm (excluding bank holidays)
                                <br>
                                <br><strong>If you use British or Irish Sign Language</strong>
                                <br>
                                <a href="https://dwpcmg.signvideo.net/">Video relay service</a> for British Sign
                                Language (BSL) users
                                <br>
                                <a href="http://dwpcmgni.signvideo.net/">Video relay service</a> for Irish Sign
                                Language (ISL) users
                                <br> Monday to Friday, 8.00am to 8.00pm (excluding bank holidays)
                                <br>
                                <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check you can use the Video
                                  Relay Service</a>
                               
                              </p>
                              -->

                            
                            <!--end-->

                </form>
            </div>
        </div>
        {% include "exit-button.html" %}
</div>
</div>
</main>
</div>
{% endblock %}