{% extends "layout.html" %} {% block pageTitle %} You will not be able to apply if you cannot pay the fee {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
               
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                                <h1 class="govuk-fieldset__heading">
                                    You will not be able to apply if you cannot pay the fee </h1>
                            </legend>
                            <p>When you are able to pay, you can start your application at <a href="https://child-maintenance.service.gov.uk/apply/">Apply for help arranging child maintenance</a>.</p>
                            <p>You will need your unique reference number, so be sure to keep a copy of the text, email, or your written down note of it.</p>


                </form>
                </div>

            </div>
                                                                                                     {% include "exit-button.html" %}

    </main>
    </div>
    {% endblock %}