{% extends "layout.html" %} {% block pageTitle %} Create a memorable password {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <h1 class="govuk-heading-xl">Create a memorable password</h1>
                    <p> You&rsquo;ll need this if you forget your personal identification number (PIN). Try not to use an easily
                        guessed password like your children's names or dates of birth.
                    </p>




                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-input--width-15" for="security-details-password">
                            <strong>Create password</strong>
                        </label>
                        <span class="govuk-hint">Your memorable password must have at least 8 characters.</span>
                        <input class="govuk-input govuk-input--width-10 cmg-password-input" id="security-details-password" name="security-details-password" type="password"
                            aria-describedby="securityDetailsPasswordInformation">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-input--width-15" for="security-details-password">
                            <strong> Confirm password</strong>
                        </label>
                        <input class="govuk-input govuk-input--width-10 cmg-password-input" id="security-details-password-confirm" name="security-details-password-confirm" type="password"
                            aria-describedby="securityDetailsPasswordInformation">
                    </div>

                    <a href="/apply/october2022/9-confirmation/declaration-fee" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate>Continue
                    </a>
                </form>
            </div>
                                                                                 {% include "exit-button.html" %}

        </div>
    </main>
</div>

{% endblock %}
