{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
<h2 class="govuk-heading-xl">Check your answers about your income</h2>

<br>


<h2 class="govuk-heading-m">Your employment details for {{data['employer-1'] }} </h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">



    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Income Source
        </dt>
        <dd class="govuk-summary-list__value">
            Employed
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="4-company-details">
                Change
                <span class="govuk-visually-hidden"> company name</span>
            </a>
        </dd>
    </div>

    

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Employer
        </dt>
        <dd class="govuk-summary-list__value">
            {{data['employer-1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="4-company-details">
                Change
                <span class="govuk-visually-hidden"> company name</span>
            </a>
        </dd>
    </div>



    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title
        </dt>
        <dd class="govuk-summary-list__value">
            {{data['job-title-1'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="annual-income">
                Change
                <span class="govuk-visually-hidden"> company name</span>
            </a>
        </dd>
    </div>




    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Income amount
        </dt>
        <dd class="govuk-summary-list__value">
        1500
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="annual-income">
                Change
                <span class="govuk-visually-hidden"> company name</span>
            </a>
        </dd>
    </div>




    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Income frequency
        </dt>
        <dd class="govuk-summary-list__value">
        Monthly
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="annual-income">
                Change
                <span class="govuk-visually-hidden"> company name</span>
            </a>
        </dd>
    </div>



    <div class="govuk-!-padding-bottom-9"></div>
 


<button type="submit" class="govuk-button">
    Continue
</button>
</form>
</div>
                                                 {% include "exit-button.html" %}

</div>
</main>
</div>
{% endblock %}
