{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
<h2 class="govuk-heading-xl">Check your answers about your benefits</h2>

<br>

<h2 class="govuk-heading-m">Your benefits</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you get Universal Credit?
        </dt>
        <dd class="govuk-summary-list__value">
        No
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="4-company-details">
                Change
                <span class="govuk-visually-hidden"> company name</span>
            </a>
        </dd>
    </div>


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        What benefits do you recieve?
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Income Support</p>
          <p class="govuk-body">Income based jobseekers allowance</p>
          <p class="govuk-body">Income related employment and support allowance</p>
          <p class="govuk-body">State Pension credit</p>
        </dd>

        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="4-company-details">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
            </a>
        </dd>
    </div>


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you share any benefits with your partner?
        </dt>
        <dd class="govuk-summary-list__value">
         Yes
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="4-company-details">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        What is the name of your partner?
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['pp-partner-first-name'] }} {{data['pp-partner-middle-name']}} {{data['pp-partner-last-name']}}

        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="4-company-details">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
            </a>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        What is {{data['pp-partner-first-name'] }} {{data['pp-partner-middle-name']}} {{data['pp-partner-last-name']}}'s date of birth?
        </dt>
        <dd class="govuk-summary-list__value">
          3 March 1986

        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="4-company-details">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
            </a>
        </dd>
    </div>




</dl>

<button type="submit" class="govuk-button">
    Continue
</button>
</form>
</div>
                                                 {% include "exit-button.html" %}

</div>
</main>
</div>
{% endblock %}
