{% extends "layout.html" %} {% block pageTitle %} Will you to answer the equality questions? {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading">
                              Will you answer the equality questions?
                                </h1>
                            </legend>
                            <br>
                            <span id="maintenance-liability-hint" class="govuk-hint">
                                 <p>These questions are optional - you can skip them and continue your application. 
                                     <br> <br>If you choose to answer the questions, we will ask you about your ethnicity, religion, sexual orientation and access needs. We use this information to help provide better, fairer services for everyone.</p>
                                 <p>Your answers to these questions will not affect your application.</p>
                                 <div class="govuk-inset-text">We will not share your answers with the other parent or anyone else.</div>
                            </span>
                            <br>
                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="maintenance-liability-1" name="maintenance-liability" type="radio" value="yes~ethnic-group">
                                    <label class="govuk-label govuk-radios__label" for="maintenance-liability-1">
                                        Yes, answer the equality questions
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="maintenance-liability-2" name="maintenance-liability" type="radio" value="no~/apply/february2022PP/9-confirmation/declaration-fee">
                                    <label class="govuk-label govuk-radios__label" for="maintenance-liability-2">
                                        No, skip the equality questions
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!--end-->
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
             {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}
