{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    

          <form class="form" action="/income-answer" method="post">

            {{ govukCheckboxes({
              name: "income",
              values: data["income"],
              fieldset: {
                legend: {
                  text: "Where does your income come from?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Select all that apply."
              },
              items: [
                {
                  value: "benefits",
                  text: "Benefits or State Pension"
                },
                {
                  value: "employment",
                  text: "Employment"
                },
                {
                  value: "self",
                  text: "Self-employment"
                },
                {
                  divider: "or"
                },
                {
                  value: "none",
                  text: "None of the above",
                  behaviour: "exclusive"
                }
              ]
            }) }}
            

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Find out how to tell us about expenses or additional income that could affect your child maintenance
                calculation
              </span>
            </summary>
            <div class="contact">
              <h2 class="govuk-heading-m">Additional expenses</h2>
              <p> Your child maintenance calculation may reduce if you are employed or self-employed and have additional
                expenses.<br /> <br />
                For example, if you spend over £10 a week on transportation to keep in regular contact with your
                children. 
              </p>
              <h2 class="govuk-heading-m">Additional income</h2>
              <p>Your child maintenance calculation may increase if you have another source of income, as well as your
                income from employment, self-employment, or benefits.<br /> <br />
                For example, if you earn over £2500 a year in rent from property or land. 
              </p>
              <h2 class="govuk-heading-m">How to tell us about additional expenses or income</h2>
              <p>Once you complete your application, you can use your online child maintenance account to report
                additional expenses or income. We will tell you how to set this up later in the application. 
              </p>
              <br>
            </div>
          </details>

          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

{% endblock %}