{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="religion-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which of the following best describes your background?
                </h1>
              </legend>

              <br>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background" name="ethnic-background" type="radio"
                    value="none~religion" data-aria-controls="conditional-religion">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background">
                    Arab
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-2" name="ethnic-background" type="radio"
                    value="another-mixed-background~religion" data-aria-controls="conditional-ethnic-background-2">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-2">
                    Any other ethnic group
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-ethnic-background-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="ethnicity-white-other">
                      Your ethnic background (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="ethnicity-white-other"
                      name="ethnicity-white-other" type="text">
                  </div>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-3" name="ethnic-background" type="radio"
                    value="no~religion" data-aria-controls="conditional-religion-8">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-3">
                    Prefer not to say
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <br>

          <button id="personalDetailsBtn" type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}

    </div>
  </main>
</div>

{% endblock %}