{% extends "layout.html" %} {% block pageTitle %} Do you have any access needs? {% endblock %} {% block content %}
{% include "feedback-banner.html" %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                                Do you have any access needs?
                            </h1>
                        </legend>
                        <div class="govuk-form-group">
                            <span id="contact-time-hint" class="govuk-hint">
                                For example, if you need wheelchair access for appointments or services in person.
                            </span>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="waste" type="radio"
                                value="none~access">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="waste" type="radio"
                                value="none~/apply/october2024/3-applicant-info-RP/check-ans-equality.html">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                No
                            </label>
                        </div>
                        <p> or </p>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="waste-3" name="waste" type="radio"
                                value="none~/apply/october2024/3-applicant-info-RP/check-ans-equality.html">
                            <label class="govuk-label govuk-radios__label" for="waste-3">
                                Prefer not to say
                            </label>
                        </div>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="govuk-button">
                            Continue
                        </button>
                    </div>
                </form>
            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>


<!-- // Script start  -->

<script>

    document.getElementById("text_reveal").style.display = "none";
    // assign function to onclick property of checkbox
    document.getElementById('text').onclick = function () {
        // call toggleSub when checkbox clicked
        // toggleSub args: checkbox clicked on (this), id of element to show/hide
        toggleSub(this, 'text_reveal');
    };
    // called onclick of checkbox
    function toggleSub(box, id) {
        // get reference to related content to display/hide
        var el = document.getElementById(id);

        if (box.checked) {
            el.style.display = 'block';
        } else {
            el.style.display = 'none';
        }
    }
</script> 

<!-- // Script end -->
 
{% endblock %}