{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <h2 class="govuk-heading-xl">Check your answers</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['pp-title'] }} {{data['pp-first-name'] }} {{data['pp-middle-name'] }}
                                {{data['pp-last-name']
                                }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Previous name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['different-name'] }} <br> {{data['pp-different-first-name']
                                    }} </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name">
                                    Change
                                    <span class="govuk-visually-hidden"> previous name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body"> 14 July 1996 </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-name">
                                    Change
                                    <span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                National Insurance number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body"> {{data['national-insurance-number'] }}</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-nino">
                                    Change
                                    <span class="govuk-visually-hidden"> national insurance number</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address</dt>
                            <dd class="govuk-summary-list__value">
                                1 The Towers
                                <br>
                                Hill Top Road
                                <br>
                                Newtown
                                <br>
                                West Yorkshire
                                <br>
                                NN1 1TT
                                <br>
                                England
                                <br>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-text">
                                    Change
                                    <span class="govuk-visually-hidden"> address</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Can we send letters to this address?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">No</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-nino">
                                    Change
                                    <span class="govuk-visually-hidden"> whether we can send letters ot this
                                        address</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Address for letters</dt>
                            <dd class="govuk-summary-list__value">
                                47 Apple Tree Walk
                                <br>
                                Newtown
                                <br>
                                West Yorkshire
                                <br>
                                NN2 4RT
                                <br>
                                England
                                <br>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-text">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Email address</dt>
                            <dd class="govuk-summary-list__value">
                                example.email@snail.mail.com
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-phone-time">
                                    Change
                                    <span class="govuk-visually-hidden"> email address</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Do you want updates by email?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Yes</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-nino">
                                    Change
                                    <span class="govuk-visually-hidden"> if you want updated by email</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Contact number <br>
                                Is this your own number?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                07777777777 <br>
                                Yes
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-phone">
                                    Change
                                    <span class="govuk-visually-hidden"> contact number</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Preferred call time</dt>
                            <dd class="govuk-summary-list__value">
                                Any time
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-phone-time">
                                    Change
                                    <span class="govuk-visually-hidden"> preferred call time</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Voicemails</dt>
                            <dd class="govuk-summary-list__value">
                                Yes
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-phone-time">
                                    Change
                                    <span class="govuk-visually-hidden"> whether we can leave voicemails</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Do you need different contact formats?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">No</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-nino">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
<!-- 
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Different contact formats for phone calls
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body"> </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-nino">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Text messages</dt>
                            <dd class="govuk-summary-list__value">
                                {{data['text']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="pp-text">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div> -->
                    </dl>

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>
{% endblock %}