{% extends "layout.html" %} {% set serviceName %} Apply for help arranging child maintenance {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

{% include "feedback-banner.html" %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">Do you want us to send all letters by post?</h1>
            <p class="govuk-hint">We must send some legal letters by post. <br>
              You can choose whether to get printed
              copies of all letters.</p>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="letters-address" name="letters-address" type="radio"
                  value="yes~pp-phone.html">
                <label class="govuk-label govuk-radios__label" for="letters-address">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="letters-address-2" name="letters-address" type="radio"
                  value="no~address-look-up-letters-2.html">
                <label class="govuk-label govuk-radios__label" for="letters-address-2">
                  No
                </label>
              </div>
            </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>
     
    </div>
  </main>
</div>

<!-- Question stop -->






{% endblock %}