{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <!--start-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="otherParentKnowAddressInformation">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading" id="otherParentKnowAddressInformation">
                                    Where do you live?


                                </h1>
                            </legend>
                            <div class="govuk-inset-text">
                                We ask this to confirm your identity. We will not share your answers with the other
                                parent.</div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="shared-address-line-1">
                                    Address line 1
                                    <span class="govuk-visually-hidden">Address line 1</span>
                                </label>
                                <input class="govuk-input" id="shared-address-line-1" name="shared-address-line-1"
                                    type="text">
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="shared-address-line-2">
                                    Address line 2
                                    <span class="govuk-visually-hidden">Address line 2</span>
                                </label>
                                <input class="govuk-input" id="shared-address-line-2" name="shared-address-line-2"
                                    type="text">
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="shared-address-town">
                                    Town or city
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="shared-address-town"
                                    name="shared-address-town" type="text">
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="shared-address-county">
                                    County
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="shared-address-county"
                                    name="shared-address-county" type="text">
                            </div>


                            <div class="govuk-form-group">
                                <label class="govuk-label" for="shared-address-postcode">
                                    Postcode
                                </label>
                                <input class="govuk-input govuk-input--width-10" id="shared-address-postcode"
                                    name="shared-address-postcode" type="text">
                            </div>

                        </fieldset>
                        <br> <br>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">

                                <label class="govuk-label" for="shared-address-postcode">
                                    Country
                                </label>
                                <div class="govuk-radios govuk-radios--small">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name" name="changed-name"
                                            type="radio" value="month">
                                        <label class="govuk-label govuk-radios__label" for="changed-name">
                                            England
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name"
                                            type="radio" value="year">
                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                            Scotland
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name"
                                            type="radio" value="year">
                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                            Wales
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name"
                                            type="radio" value="year">
                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                            Northern Ireland
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        </fieldset>
                    </div>
                    <!--Stop-->




                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}