{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
{% include "feedback-banner.html" %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                                When can we call you, if we need to?
                            </h1>
                        </legend>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-time">

                                 </label>
                                        <span id="contact-time-hint" class="govuk-hint">
                                          We will try to contact you at your preferred time if we have any questions about your application.
                                        </span>
                            </div>

                            <div class="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="any" name="phone-time" type="checkbox" value="any">
                                    <label class="govuk-label govuk-checkboxes__label" for="any">
                                        Any time
                                    </label>
                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="eight" name="phone-time" type="checkbox" value="eight">
                                    <label class="govuk-label govuk-checkboxes__label" for="eight">
                                        Between 8am and 10am
                                    </label>
                                 </div>
                                         <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="ten" name="phone-time" type="checkbox" value="ten">
                                                 <label class="govuk-label govuk-checkboxes__label" for="ten">
                                                Between 10am and midday
                                                 </label>
                                            </div>
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="midday" name="phone-time" type="checkbox" value="midday">
                                                        <label class="govuk-label govuk-checkboxes__label" for="midday">
                                                            Between midday and 2pm
                                                        </label>
                                                    </div>
                                                            <div class="govuk-checkboxes__item">
                                                                <input class="govuk-checkboxes__input" id="two" name="phone-time" type="checkbox" value="two">
                                                                <label class="govuk-label govuk-checkboxes__label" for="two">
                                                                    Between 2pm and 4pm
                                                                </label>
                                                            </div>
                                                                    <div class="govuk-checkboxes__item">
                                                                        <input class="govuk-checkboxes__input" id="four" name="phone-time" type="checkbox" value="four">
                                                                        <label class="govuk-label govuk-checkboxes__label" for="four">
                                                                            Between 4pm and 6pm
                                                                        </label>
                                                                    </div>
                                                                        
                                                                                     <p>or</p>
                                                                                        <div class="govuk-checkboxes__item">
                                                                                            <input class="govuk-checkboxes__input" id="none" name="phone-time" type="checkbox" value="none">
                                                                                            <label class="govuk-label govuk-checkboxes__label" for="none">
                                                                                                None of these times work for me
                                                                                            </label>
                                                                                        </div>



                                                                                            <div class="govuk-form-group" id="text_reveal">
                                                                                                <label class="govuk-label" for="more-detail" id="detail">
                                                                                                    Can you provide more detail?
                                                                                                </label>
                                                                                                <span id="more-detail-hint" class="govuk-hint">
                                                                                                    Do not include personal or financial information, like your National Insurance number or credit card details.
                                                                                                </span>
                                                                                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                                                                                            </div>
                                                     </div>
                                                     </fieldset>
                                                      </div>
                                                 </div>

                                                         </div>

                                      </div>
                                      <fieldset class="govuk-fieldset" aria-describedby="child1BenefitInformation">
                                              <p>
                                    


                                                <h2 class="govuk-heading-m">Can we leave voicemails if we can not contact you?</h2>
                    
                                                        <div class="govuk-radios govuk-radios--inline">
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input" id="voicemail-yes" name="voicemail" type="radio" value="yes~contact-you">
                                                            <label class="govuk-label govuk-radios__label" for="voicemail-yes">
                                                                Yes
                                                            </label>
                                                        </div>
                                                        <div class="govuk-radios__item">
                                                            <input class="govuk-radios__input" id="voicemail-no" name="voicemail" type="radio" value="no~contact-you">
                                                            <label class="govuk-label govuk-radios__label" for="voicemail-no">
                                                                No
                                                            </label>
                                                        </div>
                                                                        </div>
                                                                        </fieldset>

                                                                        <br>
                                                                        <br>

                                                                            <div class="form-group">
                                                                                <button type="submit" class="govuk-button">
                                                                                Continue
                                                                                </button>
                                                                             </div>
                                    </form>










                </div>
            </main>

</div>






<script>

    document.getElementById("text_reveal").style.display = "none";
    // assign function to onclick property of checkbox
    document.getElementById('text').onclick = function () {
        // call toggleSub when checkbox clicked
        // toggleSub args: checkbox clicked on (this), id of element to show/hide
        toggleSub(this, 'text_reveal');
    };
    // called onclick of checkbox
    function toggleSub(box, id) {
        // get reference to related content to display/hide
        var el = document.getElementById(id);

        if (box.checked) {
            el.style.display = 'block';
        } else {
            el.style.display = 'none';
        }
    }
</script>
 {% endblock %}
