{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Do you need us to use any different formats when we contact you by letter or phone?
                </h1>
              </legend>
              <div id="different-format" class="govuk-hint">
                For example, braille, large print or textphone.
              </div>
              <br>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="different-contact-format" type="radio"
                    value="no~/apply/october2024/2-fees-rp/domestic-abuse.html">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    No
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="different-contact-format" type="radio"
                    value="yes~different-formats">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Yes
                  </label>
                </div>

              </div>

            </fieldset>
          </div>
          <br>

          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>

  </main>
</div>
{% endblock %}