{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                                What&rsquo;s the best number to contact you on if we have questions about your
                                application?
                            </h1>
                        </legend>
                        <!--  <label class="govuk-label" for="applicant-telephone-number" style="visibility:hidden">
                UK telephone number
              </label> -->
                        <div class="govuk-inset-text">We will not share your answers with the other parent.</div>



                        <div class="govuk-form-group">
                            <label class="govuk-label" for="mobile-number">
                                <strong><br>Phone number</strong>
                            </label>

                            <span id="changed-name-hint" class="govuk-hint">If you do not have your own phone, give the
                                phone number of someone you trust.</span>
                            <br><br>
                            <input class="govuk-input govuk-input--width-20" id="mobile-number" name="mobile-number"
                                type="tel" autocomplete="tel">
                        </div>
                    </div> <!-- govuk-form-group -->



                    <fieldset class="govuk-fieldset" aria-describedby="child1BenefitInformation">
                        <p>
                            <strong>
                                Is this your own number?
                            </strong>
                        </p>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="other-parent-phone-radio-1"
                                    name="other-parent-phone-radio" type="radio" value="yes~rp-phone-time"
                                    aria-expanded="true">
                                <label class="govuk-label govuk-radios__label" for="other-parent-phone-radio-1">
                                    Yes
                                </label>
                            </div>


                            <div class="govuk-radios__item">
                                <input aria-controls="conditional-other-parent-phone-radio-1"
                                    class="govuk-radios__input" id="other-parent-phone-radio-2"
                                    name="other-parent-phone-radio" type="radio" value="no~rp-phone-time">
                                <label class="govuk-label govuk-radios__label" for="other-parent-phone-radio-2">
                                    No
                                </label>
                            </div>

                            <!--start-->
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                id="conditional-other-parent-phone-radio-1">

                                <label class="govuk-label" for="other-parent-contact-work-phone">
                                    Whose number is this?
                                </label>
                                <span id="changed-name-hint" class="govuk-hint">For example, a family member, friend or
                                    support worker.</span>

                                <div class="govuk-form-group">
                                    <input class="govuk-input govuk-input--width-20"
                                        id="other-parent-contact-work-phone" name="other-parent-contact-work-phone"
                                        type="tel">
                                </div>
                            </div>
                        </div> <!-- govuk-radios -->
                    </fieldset>

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>


{% endblock %}