{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrarper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <h1 class="govuk-heading-xl">What is your name?</h1>

          <!--title-->
          <div class="govuk-form-group">
            <label class="govuk-label" for="sort"> Title</label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">Ms</option>
              <option value="updated">Mrs</option>
              <option value="views">Miss</option>
              <option value="comments">Mr</option>
              <option value="comments">Captain</option>
              <option value="comments">Colonel</option>
              <option value="comments">Dame</option>
              <option value="comments">Dr</option>
              <option value="comments">Lady</option>
              <option value="comments">Lord</option>
              <option value="comments">Major</option>
              <option value="comments">Professor</option>
              <option value="comments">Reverend</option>
              <option value="comments">Sir</option>
            </select>
          </div>
          <input type="hidden" id="deduction" name="deduction" type="number" value="{{data['deduction']}}">
          <!--first name-->
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-width-two-thirds" for="rp-first-name">
              First name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="rp-first-name" name="rp-first-name" type="text"
              autocomplete="name" spellcheck="false">
          </div>
          <!--middle names-->
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-width-two-thirds" for="rp-middle-name">
              Middle names (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="rp-middle-name" name="rp-middle-name" type="text"
              autocomplete="name" spellcheck="false">
          </div>
          <!--Last name-->
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-width-two-thirds" for="rp-last-name">
              Last name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="rp-last-name" name="rp-last-name" type="text"
              autocomplete="name" spellcheck="false">
          </div>

          <p>
          <h2 class="govuk-heading-m">
            Does the other parent know you by a different name?
          </h2>
          </p>
          <div class="govuk-inset-text">
            Your current name will be shared with the other parent. If you do not want us to share this name, you will
            need to stop your online arplication and arply by phone.
          </div>

          <span id="rpDateOfBirthInformation" class="govuk-hint">
            For example, a previous married ('maiden') name or a middle name.
          </span>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="yes" name="different-name" type="radio"
                    value="yes~/arply/october2024/2-fees-rp/check-age" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-width-two-thirds" for="rp-different-first-name">
                      Name the other parent knows you by
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="rp-different-first-name"
                      name="rp-different-first-name" type="text" autocomplete="name" spellcheck="false">
                  </div>

                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="different-name" type="radio"
                    value="no~/arply/october2024/2-fees-rp/check-age" data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How to arply by phone
              </span>
            </summary>
            <div class="govuk-details__text">
              <!--
                  <p>
                  <strong>Child Maintenance Service </strong>
                  <br> Telephone: 0800 171 2345
                  <br>Monday to Friday, 8:00am to 3:30pm (excluding bank holidays)
                      <br>
                  <br> Relay UK: 18001 0800 171 2345
                  <br>Monday to Friday, 8:00am to 8:00pm (excluding bank holidays)
                  <br> Calls to the child maintenance Service are free from landlines and mobiles.
                  <br>
                  <br><strong>If you use British or Irish Sign Language</strong>
                  <br>
                  <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check you can use the video sign language relay
                      service</a>
                      <br>
                  <a href="https://dwpcmg.signvideo.net/">Video relay service for British Sign
                  Language (BSL) users</a>
                  <br>
                  
                  <br> Monday to Friday, 9:30am to 3:30pm (excluding bank holidays)
                  <br>                 
                  </p>
                -->
              <p>
                Find out how to
                <a href="../contact-details.html" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  contact the Child Maintenance Service (opens in new tab)</a>.
              </p>
              <p>This link will open in a new tab. This page will stay open so you can come back to it. </p>
            </div>
          </details>

          <div class="form-group">
            <button type="submit" class="govuk-button">
              Continue
            </button>
          </div>

        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>


{% endblock %}