{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
                            <legend
                                class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                                <h1 class="govuk-fieldset__heading">
                                    You will need to pay a £20 fee at the end of your application
                                </h1>
                            </legend>

                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                    From 26th February 2024 all new applications to the Child Maintenance Service will
                                    be free.
                                </strong>
                            </div>

                            <p class="govuk-body govuk-!-font-weight-bold">If you decide to delay your application, your
                                child maintenance payments will not be backdated. </p>

                            <p class="govuk-body">You can use the
                                <a class="govuk-link" href="https://www.gov.uk/lost-national-insurance-number">child
                                    maintenance calculator</a> to work out what your payments could be.
                            </p>
                        </fieldset>
                        <div class="govuk-!-padding-bottom-5"></div>


                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="child1BenefitInformation">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                                    <h2 class="govuk-fieldset__heading" id="child1BenefitInformation">
                                        Do you have a debit or credit card so you can pay the fee?
                                </legend>

                                <span class="govuk-hint">You’ll need your card details ready to pay the fee so
                                    you can complete your application.</span>

                                <div class="govuk-!-padding-bottom-5"></div>

                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="child-benefit-yes" name="child-benefit"
                                            type="radio" value="yes~/apply/october2024/3-applicant-info-RP/rp-nino">
                                        <label class="govuk-label govuk-radios__label" for="child-benefit-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="child-benefit-no" name="child-benefit"
                                            type="radio" value="no~cant-pay">
                                        <label class="govuk-label govuk-radios__label" for="child-benefit-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!--end-->
                        <button type="submit" class="govuk-button">
                            Continue
                        </button>
                </form>

            </div>
        </div>
        {% include "exit-button.html" %}

    </main>
</div>
{% endblock %}