{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <!--Checkboxes-->

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="abuse-checkbox-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading">
                                    Have you told anyone about the behaviours you or your children experienced?
                            </legend>
                            <br><br>
                            <p>For example, the police, a doctor, nurse, solicitor, teacher, employer, charity
                                organisations, support worker, social services
                                or a court.
                            </p>
                            <div class="govuk-inset-text"> We ask this so we can check whether you need to pay the
                                application fee.
                                We will not share your answers with the other parent or anyone else.
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="abuse-query-1" name="abuse-query" type="radio"
                                    value="yes~no-fee">
                                <label class="govuk-label govuk-radios__label" for="abuse-query-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="abuse-query-2" name="abuse-query" type="radio"
                                    value="no~pay-fee">
                                <label class="govuk-label govuk-radios__label" for="abuse-query-2">
                                    No
                                </label>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="abuse-query-3" name="abuse-query" type="radio"
                                    value="no~tell-someone">
                                <label class="govuk-label govuk-radios__label" for="abuse-query-3">
                                    I want to find out how to tell someone now and not pay the application fee
                            </div>
                        </fieldset>
                    </div> <!-- "govuk-form-group -->


                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}