{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner-padding-top.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Application sent
                    </h1>
                </div>


                <h2 class="govuk-heading-m">What happens next</h2>

                <p>We will:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>send you a confirmation email with the details on this page</li>
                    <li>send you a text message with your customer reference number</li>
                    <li>send you an information pack about the Child Maintenance Service</li>
                    <li>write to you with details of your application</li>
                    <li>contact you if we need any more information</li>
                    <li>try to contact the other parent using the information you've given
                    </li>
                    <li>confirm the information we have is correct and collect any other information we need from them</li>
                    <li>work out how much child maintenance they need to pay and when to pay it</li>
                </ul>

                <h2 class="govuk-heading-m">How long your application will take</h2>

                <p>The Department for Work and Pensions is taking steps to make sure it can continue to deliver essential services
                    during the current coronavirus (COVID-19) outbreak while protecting its staff and customers’ wellbeing.
                </p>
                <p>This will unfortunately affect some other services it provides including the Child Maintenance Service.
                </p>
                <p>This means:</p>

                <ul class="govuk-list list--bullet">
                    <li>the other parent will become responsible for paying child maintenance within 7 days of us first contacting
                        them
                    </li>
                    <li>it might be up to 12 weeks before you receive your first child maintenance payment
                    </li>
                </ul>

                <div class="govuk-inset-text">
                    Your application will take longer if we cannot contact the other parent.
                </div>


                <h2 class="govuk-heading-m">If we need to contact you</h2>

                <p>If we have any questions about your application, we will call you from this number:</p>

                <p>0800 171 2345</p>

                <p>You might want to add this number to your contact list so you know it's us calling.</p>


                <h2 class="govuk-heading-m">Your online child maintenance account</h2>

                <p>You'll need to
                    <a href="https://childmaintenanceservice.direct.gov.uk/site/public/clientcredsgb/">sign in to your online child maintenance account</a> using:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>your customer reference number</li>
                        <li>your National Insurance number</li>
                        <li>your 7-digit personal identification number (PIN)</li>
                    </ul>
                </p>

                <h2 class="govuk-heading-m">Contacting us about your application</h2>

                <p> ask that you do not contact us to request information about your application. Updates will be available when
                    you
                    <a href="">sign in to your online child maintenance account</a>.</p>
                <p>If you need to tell us about a change in your circumstances, you can report this using your online account.</p>

                <h2 class= "govuk-heading-m">Your online child maintenance account
                </h2>


                <p>You will need to
                    <a href="">sign in to your online child maintenance account</a> using:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>your customer reference number</li>
                    <li>your National Insurance number</li>
                    <li>your 7-digit personal identification number (PIN)</li>
                </ul>


                <h2 class="govuk-heading-m">Support if you’ve experienced domestic abuse
                </h2>
                <p>Find out
                    <a href="">how to get help</a> if you, your children or anyone you know have ever experienced domestic abuse.
                </p>
            </div>



            <div class="govuk-grid-column-one-third">

                <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

                <div aria-labelledby="related-nav-survey_link">
                    <h3 id="related-nav-survey_link" class="survey-heading">
                        <a href="feedback/feedback_form.html" target="_blank">Help us improve this service</a>
                    </h3>

                </div>



                <div class="govuk-button--sticky">









                    <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                        data-module="govuk-button">
                        Hide this page
                    </a>


                </div>

            </div>


        </div>

</div>
</main>
</div>



<style>
    .survey-heading a {
        background-color: #005ea5;
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.11111;
        display: block;
        margin-top: 0px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #ffffff;
        text-decoration: none;
    }

    .survey-heading a:hover {

        text-decoration: underline;
    }

    .survey-heading {
        text-align: center;
        margin: 0px;

    }

    c-related-navigation {
        color: #0b0c0c;
        border-top: 2px solid #005ea5;
    }

    .app-related-items {
        border-top: 0px solid #005ea5;
        padding-top: 0px;
    }
</style>

{% endblock %}