{% extends "layout.html" %} {% block pageTitle %} Tell us about your children {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Tell us what you know about the other parent
                  </h1>
                </legend>

                <div class="govuk-warning-text govuk-!-padding-top-5">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Giving us as much information as possible can help us process your application faster.
                  </strong>
                </div>

                <div class="govuk-form-group">
                  <div id="countries-hint" class="govuk-hint">
                    Select all that apply. You can give partial information and change your answers later.
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="op-details-1" name="op-details" type="checkbox"
                        value="Name">
                      <label class="govuk-label govuk-checkboxes__label" for="op-details-1">
                         Name
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="op-details-2" name="op-details" type="checkbox"
                        value="Date of birth">
                      <label class="govuk-label govuk-checkboxes__label" for="op-details-2">
                        Information about date of birth or age
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="op-details-3" name="op-details" type="checkbox"
                        value="National Insurance number">
                      <label class="govuk-label govuk-checkboxes__label" for="op-details-3">
                        National Insurance number
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="op-details-4" name="op-details" type="checkbox"
                        value="Phone number">
                      <label class="govuk-label govuk-checkboxes__label" for="op-details-4">
                        Telephone number
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="op-details-5" name="op-details" type="checkbox"
                        value="Address">
                      <label class="govuk-label govuk-checkboxes__label" for="op-details-5">
                        Information about address or location
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="op-details-7" name="op-details" type="checkbox"
                        value="Other information">
                      <label class="govuk-label govuk-checkboxes__label" for="op-details-7">
                        Any other details about them
                      </label>
                    </div>

                    <div class="govuk-checkboxes__divider">or</div>

                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="op-details-8" name="op-details" type="checkbox"
                        value="I do not know anything" data-behaviour="exclusive">
                      <label class="govuk-label govuk-checkboxes__label" for="op-details-8">
                        I do not know anything about the other parent
                      </label>
                    </div>
                  </div>

                </div>
                
              </fieldset>
            </div>
            <p class="govuk-body govuk-!-padding-bottom-5">We will also ask if there is anything else that we should know about the other parent.</p>
            
            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
</div>


{% endblock %}