{% extends "layout.html" %} {% block pageTitle %} Tell us about your children {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="get" action="other-parent-question-list.html" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Tell us about the other parent
                  </h1>
                </legend>

                <div class="govuk-warning-text govuk-!-padding-top-5">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Giving us as much information as possible can help us process your application faster.
                  </strong>
                </div>

                <p class="govuk-body">We will ask you to give us information about the other parent's:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>name</li>
                  <li>date of birth or age</li>
                  <li>National Insurance number</li>
                  <li>telephone number</li>
                  <li>address or general location</li>
                </ul>

                <div class="govuk-body">
                  We will also ask if there is anything else that we should know about the other parent.
                </div>
              </fieldset>
            </div>

            <button type="submit" class="govuk-button">
              Continue
            </button>

          </form>

        </div>
        {% include "exit-button.html" %}
      </div>
    </main>
</div>


{% endblock %}