{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start-->
                    <fieldset class="govuk-fieldset">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                              <h1 class="govuk-fieldset__heading">
                      You have told us the other parent’s last known address is:
                              </h1>
                          </legend>

                            <span class="govuk-caption-l">
                              {{data['known-other-parent-address-line-1'] }}<br/>
                              {{data['known-other-parent-address-line-2'] }}
                              {{data['known-other-parent-address-town'] }}<br/>
                              {{data['known-other-parent-address-county'] }}<br/>
                              {{data['known-other-parent-address-postcode'] }}<br/>
                            </span>
                            <br/>
                        </h1>

                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                              <h1 class="govuk-fieldset__heading">
                                When did you last know the other parent to live at this address?
                              </h1>
                            </legend>
                            <div id="dob-hint" class="govuk-hint">
                              For example, 9 2020 or just the year.
                            </div>
                            <div class="govuk-date-input" id="dob">
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="dob-month">
                                    Month
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="dob-year">
                                    Year
                                  </label>
                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric"></div>
                              </div>
                            </div>

                          </fieldset>
                        </div>


                        </div>
                    <!--Stop-->



                    <a href="pp-other-info" role="button" draggable="false" class="govuk-button">
                        Continue

                    </a>
                </form>
            </div>
                                                                                         {% include "exit-button.html" %}

        </div>
    </main>
</div>



{% endblock %}
