{% extends "layout.html" %} {% block pageTitle %} If you stop paying child maintenance {% endblock %} {% block content
%}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading">
                                    If you stop paying child maintenance
                                </h1>
                            </legend>
                        </fieldset>
                    </div>

                    <p>If a payment is more than 5 working days late, we can take enforcement action. </p>

                    <p>If you miss a Direct Pay payment, we will follow the steps below.</p>

                    <ol class="govuk-list govuk-list--number">
                        <li>A caseworker will contact you to find out why you have not paid.</li>
                        <li>We will arrange for you to pay what you owe.</li>
                        <li>We will warn you about action that might be taken if you do not pay.</li>
                        <li>We will take action to get child maintenance owed if you do not respond.</li>
                    </ol>

                    <div class="govuk-inset-text">We will tell you more about this after you send your application.
                    </div>

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>


{% endblock %}