{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                                Contacting you about your application
                            </h1>
                        </legend>
                        <br>

                        <p> We’ll ask for your address and phone number in case we need to contact you about your application.</p>
                        <p>We will not share your answers with the other parent.</p>
                        
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                            <br> Do you need us to use any different formats when we contact you by letter or phone?
                            </h1>
                          </legend>
                          <div id="changed-name-hint" class="govuk-hint">
                            For example, braille, large print or textphone.
                          </div>
                          <br>
                          <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes~different-formats">
                              <label class="govuk-label govuk-radios__label" for="changed-name">
                                Yes
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no~phone-number">
                              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                No
                              </label>
                            </div>
                          </div>

                        </fieldset>
                      </div>
                      <br>



                        </div>
            </div>

<button type="submit" class="govuk-button">
    Continue
</button>
</form>
</div>

</div>

</main>
</div>
{% endblock %}
