{% extends "layout.html" %} {% block pageTitle %} Application sent {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner-padding-top.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">

    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Application sent
                    </h1>
                </div>
                <p>
                    You don't need to keep your unique reference number that we sent you any longer.
                </p>
                    
                

                <h2 class="govuk-heading-m">What happens next</h2>

                <p>The Child Maintenance Service will:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>send your customer reference number in a text message (you will need this to sign in to your online account) </li>
                   
                    <li>try to contact the other parent </li>

                    <li>confirm whether your service type will be Direct Pay or Collect and Pay</li>

                    <li>tell you how much child maintenance you should get and when you should get it</li>

                </ul>

                <h2 class="govuk-heading-m">How long your application will take</h2>

                <p>It can take up to 6 weeks to process your application. Complex cases may take longer.
                </p>
              
        

                <h2 class="govuk-heading-m">Updates about your application</h2>

                <p class="govuk-body">You can track your application in
                    <a class="govuk-link" href="https://www.gov.uk/">your online child maintenance account (opens in new tab).</a> We will email you if the status of your application changes. </p>


                    <p>To sign in to your account, you'll need your:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>customer reference number, it will start with 121 (we will send this to you within 5 days)  </li>
                       
                        <li>7-digit personal identification number (PIN)</li>
    
                        <li>National Insurance Number </li> </ul>


                        <br>

                <p>If we have any questions about your application, we will call you from this number:
                 </p>
              
                 <p>0800 171 2345
                </p>


                <p>You might want to add this number to your contact list so you know it’s us calling.
                </p>

                <p class="govuk-body">If you do not receive your customer reference number within 5 days, you can 
                    <a class="govuk-link" href="https://www.gov.uk/">contact the Child Maintenance Service (opens in new tab)</a>.</p>


                

                <h2 class="govuk-heading-m">If you have experienced domestic abuse
                </h2>

                <p> <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help">Find out where you can get help if you have experienced domestic abuse (opens in new tab). </a>



                        <div class="govuk-!-padding-bottom-5"></div>



                        <a href="/apply/october2022/1-start-eligibility/welcome">  <button class="govuk-button govuk-button--secondary" href="/apply/october2022/1-start-eligibility/welcome" data-module="govuk-button">
                            Restart prototype service
                          </button>
                        </a> 

            </div>



            <div class="govuk-grid-column-one-third">

                <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

                <div class="govuk-button--sticky">

                    <a href="https://www.bbc.co.uk/weather" role="button" draggable="false"
                        class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                        data-module="govuk-button">
                        Hide this page
                    </a>


                </div>

            </div>


        </div>

</div>
</main>
</div>



<style>
    .survey-heading a {
        background-color: #005ea5;
        font-family: "nta", Arial, sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.11111;
        display: block;
        margin-top: 0px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #ffffff;
        text-decoration: none;
    }

    .survey-heading a:hover {

        text-decoration: underline;
    }

    .survey-heading {
        text-align: center;
        margin: 0px;

    }

    c-related-navigation {
        color: #0b0c0c;
        border-top: 2px solid #005ea5;
    }

    .app-related-items {
        border-top: 0px solid #005ea5;
        padding-top: 0px;
    }
</style>

{% endblock %}