{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner-padding-top.html" %}

<!--Feedback banner stop-->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Apply for help arranging child maintenance Prototype</h1>

        <a href="1-start-eligibility/welcome.html" role="button" draggable="false"
          class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <p><strong>What it is:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Full apply for help arranging child maintenance journey </li>
          <li>Includes both the RP and PP journeys</li>
        </ul>

        <p><strong>Latest user research</strong></p>
        <p class="govuk-body">Better information for tracing - August 2025</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/apply/february2025/1-start-eligibility/welcome">Test 1</a> - Updated Apply start page</li>
          <li><a href="/apply/february2025/7-other-parent-RP/other-parent-start">Test 2</a> - New other parent start page</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-address-start">Test 3</a> - New address start page</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-name">Test 4</a> - Updated other parents name</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-dob">Test 5</a> - Updated other parents date of birth or age</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-nino">Test 6</a> - Updated other parents National Insurance number</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-phone">Test 7</a> - Updated other parents phone number</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-address-1">Test 8</a> - Updated other parents address</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-previous-address">Test 9</a> - Updated other parents previous address</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-address-3">Test 10</a> - Updated how do you know this address for the other parent</li>
          <li><a href="/apply/february2025/7-other-parent-RP/pp-anything-else">Test 11</a> - Updated anything else known about the other parent</li>
        </ul>
        



        <!-- Receiving parent jounrey -->



        <p><strong>Sections - Receiving parent specific:</strong></p>

        <p>
          Please Note: Section 4 does not exist for RP users
        </p>


        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="/apply/february2025/1-start-eligibility/live-in-uk">Section 1: Eligibility</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/february2025/mcmc-sign-up/using-a-child-maintenance-account-rp">Section
              2: MCMC sign-up</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/february2025/3-applicant-info-RP/rp-name.html">Section 3: Applicant
              detail collection</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/february2025/3-applicant-info-RP/equality/extra-question">Section 4
              (optional): Equality questions</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/february2025/5-children-info-RP/1-name">Section 5: Qualifying
              children</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/february2025/6-service-types-RP/direct-pay">Section 6: Service Types</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/february2025/7-other-parent-RP/pp-name">Section 7: Other parent</a>
          </li>
          <li>
            <a class="govuk-link" href="8-existing-cases-RP/previous-application.html">Section 8: Previous
              Application</a>
          </li>
          <li>
            <a class="govuk-link" href="9-confirmation-RP/declaration-fee.html">Section 9: Declaration</a>
          </li>
        </ul>

      </div>
    </div>
  </main>
</div>




{% endblock %}