{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner-padding-top.html" %}

<!--Feedback banner stop-->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Apply for help arranging child maintenance Prototype</h1>
       
        <a href="1-start-eligibility/welcome.html" role="button" draggable="false"
          class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <p><strong>What it is:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Full apply for help arranging child maintenance journey </li>
          <li>Includes both the RP and PP journeys</li>
        </ul>


        <!-- <p><strong>Sections:</strong></p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="1-start-eligibility/welcome.html">Section 1: Start and Eligibility</a>
          </li>
        </ul> -->





<!-- <br>
        <p><strong>PP Specific:</strong></p>
        <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="2-fees/check-age.html">Section 2: Fees</a>
        </li>

        <li>
          <a class="govuk-link" href="3-applicant-info/pp-name.html">Section 3: Applicant Info Gather</a>
        </li>
        <li>
          <a class="govuk-link" href="4-pp-income/1-income-query.html">Section 4: PP Income</a>
        </li>
        <li>
          <a class="govuk-link" href="5-all-children/child-section-start.html">Section 5: All Children
            (QC/ROC/CIFBA)</a>
        </li>
        <li>
          <a class="govuk-link" href="6-service-types/direct-pay.html">Section 6: Service Types</a>
        </li>
        <li>
          <a class="govuk-link" href="7-other-parent/pp-name.html">Section 7: The Other Parent (RP)</a>
        </li>
        <li>
          <a class="govuk-link" href="8-existing-cases/previous-application.html">Section 8: Existing Cases</a>
        </li>

        <li>
          <a class="govuk-link" href="9-confirmation/declaration-no-fee.html">Section 9: Confirmation</a>
        </li>
        </ul>
        <br> -->



<!-- Receiving parent jounrey -->



        <p><strong>Sections - Receiving parent specific:</strong></p>

        <p>
          Please Note: Section 4 does not exist for RP users
        </p>
        
        
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="/apply/october2024/1-start-eligibility/live-in-uk">Section 1: Eligibility</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/october2024/mcmc-sign-up/using-a-child-maintenance-account-rp">Section 2: MCMC sign-up</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/october2024/3-applicant-info-RP/rp-name.html">Section 3: Applicant detail collection</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/october2024/3-applicant-info-RP/equality/extra-question">Section 4 (optional): Equality questions</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/october2024/5-children-info-RP/1-name">Section 5: Qualifying children</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/october2024/6-service-types-RP/direct-pay">Section 6: Service Types</a>
          </li>
          <li>
            <a class="govuk-link" href="/apply/october2024/7-other-parent-RP/pp-name">Section 7: Other parent</a>
          </li>
          <li>
            <a class="govuk-link" href="8-existing-cases-RP/previous-application.html">Section 8: Previous Application</a>
          </li>
          <li>
            <a class="govuk-link" href="9-confirmation-RP/declaration-fee.html">Section 9: Declaration</a>
          </li>
        </ul>

      </div>
    </div>
  </main>
</div>




{% endblock %}