{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
{% include "feedback-banner.html" %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <!--start of new code-->
                <form method="post" novalidate>

                    <div class="govuk-form-group">
                      <h1 class="govuk-heading-xl">You have told us about the following company:


                            <span class="govuk-caption-l">{{data['company-1'] }} </span>
                        </h1>
                    </div>
                    <h1 class="govuk-heading-m">
                        Do you need to add another company?</h1>
                    <div class="govuk-form-group">


                        <!--Start of radio buttons-->
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

                                <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="add-job-yes" name="add-job" type="radio" value="yes~4-company-details">
                                        <label class="govuk-label govuk-radios__label" for="add-job-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="add-job-no" name="add-job" type="radio" value="no~5-pension-query">
                                        <label class="govuk-label govuk-radios__label" for="add-job-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!--end of radio buttons-->
                    <br>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>


                </form>
            </div>
                       {% include "exit-button.html" %}

        </div>
    </main>
</div>


<style>
    .app-task-list__item:first-child {
        border-top: 0px solid #bfc1c3 !important;
    }


    .tasklist_float_60 {
        float: left;
        width: 60%;
    }

    .tasklist_float_20 {
        float: left;
        width: 20%;
        text-align: right;
    }

    .app-task-list__items {
        padding-left: 0px;
    }

    .govuk-caption-xl {
        text-transform: capitalize;
    }
</style>

{% endblock %}
