{% extends "layout.html" %} {% block pageTitle %} Your company details {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="shared-benefit-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                              Your company details
                            </h1>
                          </legend>
                          <div id="shared-benefit-hint" class="govuk-hint">
                            If you are self-employed and have more than one company, you will be asked about your other companies later in this application.
                          </div>
                          <br>

                          <div class="govuk-form-group">
                          <label class="govuk-label govuk-!-width-two-thirds"for="company-name">
                                Company name
                              </label>

                            <input class="govuk-input govuk-input--width-20" id="company-1" name="company-1" type="text">
                          </div>

                          <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-two-thirds" for="occupation">
                            Occupation
                              </label>

                            <div id="occupation-hint" class="govuk-hint">
                            For example, accountant or hairdresser.
                            </div>
                            <input class="govuk-input govuk-input--width-20" id="occupation-1" name="occupation-1" type="text">
                          </div>

                        </fieldset>
                      </div>
                    <br>


                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>
            </div>
                                                                         {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}
