{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    What is the other parent's National Insurance number?</h1>
                            </legend>

                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="pp-nino-1" name="pp-nino" type="radio"
                                        value="yes~pp-phone" data-aria-controls="pp-nino-conditional">
                                    <label class="govuk-label govuk-radios__label" for="pp-nino-1">
                                        I know their National Insurance number
                                    </label>
                                </div>

                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                    id="pp-nino-conditional">
                                    <div class="govuk-form-group">
                                        <div class="govuk-date-input__item">
                                            <label class="govuk-label govuk-date-input__label" for="nino">
                                                National Insurance number
                                            </label>
                                            <span class="govuk-hint">For example, QQ 12 34 56C
                                            </span>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-12"
                                                id="nino" name="nino" type="" spellcheck="false">
                                        </div>
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="pp-nino-2" name="pp-nino" type="radio"
                                        value="no~pp-phone">
                                    <label class="govuk-label govuk-radios__label" for="pp-nino-2">
                                        I do not know their National Insurance number
                                    </label>
                                </div>

                            </div>
                    </div>
                    </fieldset>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}