{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="benefit-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                              Do you get any of these benefits or State Pension?
                            </h1>
                          </legend>
                          <div id="benefit-hint" class="govuk-hint">
                            Select all that apply.
                          </div>
                          <br>
                          <div id="benefits" class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="benefit" name="benefit" type="checkbox" value="Armed Forces Compensation Scheme payments">
                              <label class="govuk-label govuk-checkboxes__label" for="benefit">
                                Armed Forces Compensation Scheme payments
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="benefit-2" name="benefit" type="checkbox" value="Bereavement Allowance">
                              <label class="govuk-label govuk-checkboxes__label" for="benefit-2">
                                Bereavement Allowance
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="benefit-3" name="benefit" type="checkbox" value="Carer's Allowance">
                              <label class="govuk-label govuk-checkboxes__label" for="benefit-3">
                                Carer's Allowance
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-4" name="benefit" type="checkbox" value="Incapacity Benefit">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-4">
                                Incapacity Benefit
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-5" name="benefit" type="checkbox" value="Income Support">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-5">
                                Income Support
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-6" name="benefit" type="checkbox" value="Income-related Employment and Support Allowance">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-6">
                                Income-related Employment and Support Allowance
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-7" name="benefit" type="checkbox" value="Jobseeker’s Allowance – contribution-based">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-7">
                                Jobseeker’s Allowance – contribution-based
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-8" name="benefit" type="checkbox" value="Jobseeker’s Allowance – income-based">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-8">
                                Jobseeker’s Allowance – income-based
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-9" name="benefit" type="checkbox" value="Maternity Allowance">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-9">
                                Maternity Allowance
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-10" name="benefit" type="checkbox" value="Non-UK Social Security Benefit">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-10">
                                Non-UK Social Security Benefit
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-11" name="benefit" type="checkbox" value="Pension Credit">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-11">
                                Pension Credit
                                </label>
                            </div>
                            <!-- <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-11" name="benefit" type="checkbox" value="farm">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-11">
                                Personal Independence Payment (PIP)
                                </label>
                            </div> -->
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-12" name="benefit" type="checkbox" value="Skillseekers training">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-12">
                                Skillseekers training
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-13" name="benefit" type="checkbox" value="State Pension">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-13">
                                State Pension
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-14" name="benefit" type="checkbox" value="Training Allowance">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-14">
                                Training Allowance
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-15" name="benefit" type="checkbox" value="Universal Credit">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-15">
                                Universal Credit
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-16" name="benefit" type="checkbox" value="War Disablement Pension">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-16">
                                War Disablement Pension
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-17" name="benefit" type="checkbox" value="War Widow’s, Widower’s or Surviving Civil Partner’s Pension">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-17">
                                War Widow’s, Widower’s or Surviving Civil Partner’s Pension
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-18" name="benefit" type="checkbox" value="Widow's Pension">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-18">
                                Widow's Pension
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-19" name="benefit" type="checkbox" value="Widowed Parent's Allowance">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-19">
                                Widowed Parent's Allowance
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefit-20" name="benefit" type="checkbox" value="None of these">
                                <label class="govuk-label govuk-checkboxes__label" for="benefit-20">
                                None of these
                                </label>
                            </div>

                        </div>
                      
                        </fieldset>
                      </div>

                    <br>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>
            </div>
                                                                         {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}