{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <!--start-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="otherParentKnowAddressInformation">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading" id="otherParentKnowAddressInformation">
                                     Do you know anything about the other parent’s previous address?
                                </h1>
                            </legend>
                            <span id="other-parent-date-of-birth-hint" class="govuk-hint">
                              This information can help us find the other parent.</span>
                            <div class="govuk-radios govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="other-parent-know-address-1" name="other-parent-know-address" type="radio" value="yes~pp-previous-address-2">
                                    <label class="govuk-label govuk-radios__label" for="other-parent-know-address-1">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="other-parent-know-address-2" name="other-parent-know-address" type="radio" value="no~pp-previous-town">
                                    <label class="govuk-label govuk-radios__label" for="other-parent-know-address-2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!--Stop-->




                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>

{% endblock %}
