{% extends "layout.html" %} {% block pageTitle %} What do you need to access appointments or services in person? {%
endblock %} {% block content %}
{% include "feedback-banner.html" %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class=“form” action='/october2024/3-applicant-info/check-ans-equality.html' method=“post”>
          <div class="govuk-form-group">
            <!-- <fieldset class="govuk-fielfset"> -->
            <fieldset class="govuk-fieldset" aria-describedby="doorway-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                <h1 class="govuk-fieldset__heading">
                  What do you need to access appointments or services in person?
                </h1>
              </legend>
              <div class="govuk-form-group">
                <span id="contact-time-hint" class="govuk-hint">
                  Select all that apply
                </span>
              </div>

              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="lift" name="lift" type="checkbox" value="lift~declaration">
                  <label class="govuk-label govuk-checkboxes__label" for="lift">
                    Induction Loop
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ramp" name="ramp" type="checkbox" value="ramp~declaration">
                  <label class="govuk-label govuk-checkboxes__label" for="ramp">
                    Lift
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="doorway" name="doorway" type="checkbox"
                    value="doorway~declaration">
                  <label class="govuk-label govuk-checkboxes__label" for="doorway">
                    Help using door entry or intercom system
                  </label>
                  <div id="doorway-item-hint" class="govuk-hint govuk-checkboxes__hint">
                    For example, minicom
                  </div>
                  <!-- <div id="income-hint" style="margin-left: 17px" class="govuk-hint">
                  For example, minicom
                </div> -->
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="doorway" name="doorway" type="checkbox"
                    value="doorway~declaration">
                  <label class="govuk-label govuk-checkboxes__label" for="doorway">
                    Ramp
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="doorway" name="doorway" type="checkbox"
                    value="doorway~declaration">
                  <label class="govuk-label govuk-checkboxes__label" for="doorway">
                    Wide doorway
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="text" name="other" type="checkbox"
                    value="text~declaration">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Other
                  </label>
                </div>
                <div class="govuk-form-group" id="text_reveal">
                  <label class="govuk-label" for="more-detail" id="detail">
                    How can we help you access face to face services?
                  </label>
                  <span id="more-detail-hint" class="govuk-hint">
                    <!-- Do not include personal or financial information, like your National Insurance number or credit card details. -->
                  </span>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
                </div>
              </div> <!-- govuk-checkboxes -->
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
       
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>


<!-- // Script start -->

<script>

  document.getElementById("text_reveal").style.display = "none";
  // assign function to onclick property of checkbox
  document.getElementById('text').onclick = function () {
    // call toggleSub when checkbox clicked
    // toggleSub args: checkbox clicked on (this), id of element to show/hide
    toggleSub(this, 'text_reveal');
  };
  // called onclick of checkbox
  function toggleSub(box, id) {
    // get reference to related content to display/hide
    var el = document.getElementById(id);

    if (box.checked) {
      el.style.display = 'block';
    } else {
      el.style.display = 'none';
    }
  }
</script> 

<!-- // Script end -->

{% endblock %}