{% extends "layout.html" %} {% block pageTitle %} What is your religion?
{% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="religion-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What is your religion?
                </h1>
              </legend>
              <br>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion" name="religion" type="radio"
                    value="none~sexual-orientation" data-aria-controls="conditional-religion">
                  <label class="govuk-label govuk-radios__label" for="religion">
                    No religion
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-2" name="religion" type="radio"
                    value="christian~sexual-orientation" data-aria-controls="conditional-religion-2">
                  <label class="govuk-label govuk-radios__label" for="religion-2">
                    Christian (including Church of England, Catholic, Protestant and all other Christion denominations)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-2" name="religion" type="radio"
                    value="buddhist~sexual-orientation" data-aria-controls="conditional-religion-2">
                  <label class="govuk-label govuk-radios__label" for="religion-2">
                    Buddhist
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-3" name="religion" type="radio"
                    value="hindu~sexual-orientation" data-aria-controls="conditional-religion-3">
                  <label class="govuk-label govuk-radios__label" for="religion-3">
                    Hindu
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-4" name="religion" type="radio"
                    value="jewish~sexual-orientation" data-aria-controls="conditional-religion-4">
                  <label class="govuk-label govuk-radios__label" for="religion-4">
                    Jewish
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-5" name="religion" type="radio"
                    value="muslim~sexual-orientation" data-aria-controls="conditional-religion-5">
                  <label class="govuk-label govuk-radios__label" for="religion-5">
                    Muslim
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-6" name="religion" type="radio"
                    value="sikh~sexual-orientation" data-aria-controls="conditional-religion-6">
                  <label class="govuk-label govuk-radios__label" for="religion-6">
                    Sikh
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-7" name="religion" type="radio"
                    value="other~sexual-orientation" data-aria-controls="conditional-religion-7">
                  <label class="govuk-label govuk-radios__label" for="religion-7">
                    Any other religion
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-religion-7">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="religion-by-text">
                      What is your religion? (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="religion-by-text" name="religion-by-text"
                      type="tel">
                  </div>
                </div>

                <div class="govuk-radios__divider">or</div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="religion-8" name="religion" type="radio"
                    value="no~sexual-orientation" data-aria-controls="conditional-religion-8">
                  <label class="govuk-label govuk-radios__label" for="religion-8">
                    Prefer not to say
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <br>

          <button id="personalDetailsBtn" type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

{% endblock %}