{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    Can we send you text messages about your application?
                                </h1>
                            </legend>
                            <span id="changed-name-hint" class="govuk-hint">
                                For example, we can send you a text message with your customer reference number after you apply. If we send you text messages,
                                the sender's name will show in your phone as ChildMaint.
                            </span>
                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="yes" name="text" type="radio" value="yes~do-you-want-confirmation">
                                    <label class="govuk-label govuk-radios__label" for="yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="no" name="text" type="radio" value="no~do-you-want-confirmation">
                                    <label class="govuk-label govuk-radios__label" for="no">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Can I opt-out of text messages later?
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                            Yes. If you decide you no longer want to receive text messages, you can update your preferences when you sign into My Child Maintenance Case.
                        </div>
                      </details>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
            </div>
                                     {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}
