{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="maintenance-liability-hint">
                            <legend
                                class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading">
                                    Have you had a court decision about child maintenance payments in the last 12
                                    months </h1>
                            </legend>
                            <span id="maintenance-liability-hint" class="govuk-hint">
                                This type of decision is sometimes called a &rsquo;court order&rsquo;, &rsquo;maintenance order&rsquo; or &rsquo;minute of agreement&rsquo;.
                              </span>
                              <div class="govuk-inset-text">We do not need to know about any court orders for your children’s living arrangements unless the order also covers maintenance payments.
                              </div>
                            <br>
                            
                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="maintenance-liability-2"
                                        name="maintenance-liability" type="radio" value="no~pp-rp">
                                    <label class="govuk-label govuk-radios__label" for="maintenance-liability-2">
                                        No
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="maintenance-liability-1"
                                        name="maintenance-liability" type="radio" value="yes~not-eligible-court">
                                    <label class="govuk-label govuk-radios__label" for="maintenance-liability-1">
                                        Yes
                                    </label>
                                </div>
                                
                            </div>
                        </fieldset>
                    </div>
                    <br>
                    <!--end-->
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}