{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<h1 class="govuk-heading-xl">Prototype Archive</h1>

<div class="govuk-inset-text">The below sections of the prototype were inherited in November 2021 with the final
  changes being made to them in December 2024</div>


<div class="govuk-form-group">
  <span class="govuk-tag">2024 full journey</span>
</div>

<Span class="govuk-hint">Last updated: December 2024</Span>

<br><br>

<a href="/apply/october2024/sections.html" role="button" draggable="false" class="govuk-button govuk-button--start"
  data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-form-group">
  <span class="govuk-tag">2022 full journey</span>
</div>

<Span class="govuk-hint">Last updated: October 2022</Span>

<br><br>

<a href="/apply/october2022/sections.html" role="button" draggable="false" class="govuk-button govuk-button--start"
  data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-form-group">
  <span class="govuk-tag">2020 full journey</span>
</div>

<Span class="govuk-hint">Last updated: August 3rd 2020</Span>

<br><br>

<a href="/apply/current/welcome.html" role="button" draggable="false" class="govuk-button govuk-button--start"
  data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<div class="govuk-!-padding-bottom-5"></div>

<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">UR</span>
</div>

<a href="/UR.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<div class="govuk-!-padding-bottom-5"></div>


<!-- Survey work -->

<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Survey</span>
</div>
<p>
  <strong>From phone journey</strong>
</p>


<Span class="govuk-hint">Last updated: September 15th 2020</Span>

<br><br>

<a href="/apply/survey/help-improve-service" role="button" draggable="false" class="govuk-button govuk-button--start"
  data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<p>
  <strong>From online journey</strong>
</p>

<Span class="govuk-hint">Last updated: September 15th 2020</Span>

<br><br>

<a href="/apply/survey/survey-online/help-improve-service" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<div class="govuk-!-padding-bottom-5"></div>


<!-- Paying parent application journey and sprints -->


<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Paying Parent Application</span>
</div>

<p>
  <strong>Current Full Journey</strong>
  <br> End to end PP application journey
</p>
<Span class="govuk-hint">Last updated: January 21st 2021</Span>

<br><br>

<a href="/apply/paying-parent/1-start/pp-welcome" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<br>
<br>

<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 44</span>
</div>
<p>
  <strong>Section 1: PP Eligibility</strong>
  <br> Check Applicant Eligibility and URN
</p>
<Span class="govuk-hint">Last updated: January 28th 2021</Span>

<br><br>

<a href="/apply/paying-parent/2-eligibility/live-in-uk" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<hr>

<br>
<br>
<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 44</span>
</div>
<p>
  <strong>Section 2: PP Fees</strong>
  <br> Check Fee Requirement
</p>
<Span class="govuk-hint">Last updated: February 2nd 2021</Span>

<br><br>

<a href="/apply/paying-parent/3-pp-auth/check-age" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<br>
<br>

<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 44</span>
</div>
<p>
  <strong>Section 2: PP Fees UNDER 19</strong>
  <br> Check Fee Requirement
</p>
<Span class="govuk-hint">Last updated: March 15th 2021</Span>

<br><br>

<a href="/apply/paying-parent/3-pp-auth-u19/check-age.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<br>
<br>

<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 44</span>
</div>
<p>
  <strong>Section 3: PP Information</strong>
  <br> Capture Applicant Information
</p>
<Span class="govuk-hint">Last updated: January 28th 2021</Span>

<br><br>

<a href="/apply/paying-parent/4-pp-info/pp-name.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


<hr>

<br>
<br>
<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 44</span>
</div>
<p>
  <strong>Section 4: PP Income</strong>
  <br> Capture PP Income information
</p>
<Span class="govuk-hint">Last updated: October 2021</Span>

<br><br>

<a href="/apply/paying-parent/5-pp-income/1-income-query.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


<br>
<br>

<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 45</span>
</div>
<p>
  <strong>Section 5: Qualifying children</strong>
  <br> Capture PP Income information
</p>

<a href="/apply/paying-parent/6-pp-qualifying-children/version2/1-name.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now - Version 2
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


<br>
<br>

<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 45</span>
</div>
<p>
  <strong>Section 6: Service Types</strong>
  <br>
</p>
<Span class="govuk-hint">Last updated: February 22nd 2021</Span>

<br><br>

<a href="/apply/paying-parent/7-service-types/direct-pay.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


<br>
<br>

<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 45</span>
</div>
<p>
  <strong>Section 7: Other Parent</strong>
  <br>
</p>
<Span class="govuk-hint">Last updated: February 23rd 2021</Span>

<br><br>

<a href="/apply/paying-parent/8-other-parent/pp-name.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>



<hr>
<br>
<br>
<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 44</span>
</div>
<p>
  <strong>Section 8: Other Children</strong>
  <br> Capture ROC and CIFBA information
</p>
<Span class="govuk-hint">Last updated: August 16th 2021</Span>

<br><br>

<a href="/apply/paying-parent/8-other-children/1-other-children.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<br /><br />

<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 45</span>
</div>
<p>
  <strong>Section 9: Existing Cases</strong>
  <br>
</p>
<Span class="govuk-hint">Last updated: March 1st 2021</Span>

<br><br>

<a href="/apply/paying-parent/9-pp-existing-case/previous-application.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


<br>
<br>


<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 45</span>
</div>
<p>
  <strong>Section 10: Confirmation</strong>
  <br>
</p>
<Span class="govuk-hint">Last updated: February 25th 2021</Span>

<br><br>

<a href="/apply/paying-parent/10-confirmation-email/do-you-want-confirmation.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


<br>
<br>

<hr>




<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 42</span>
</div>

<p>
  <strong>Diversity Questions AFCM-2382:</strong>
  <br> Including ethnicity, religion and sexual orientation questions
</p>
<Span class="govuk-hint">Last updated: March 01st 2021</Span>

<br><br>

<a href="/apply/january2021/diversity/extra-question.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 40</span>
</div>

<p>
  <strong>Welsh Language Preferences AFCM-2498:</strong>
  <br> Displays language preferences for users living in Wales
</p>
<Span class="govuk-hint">Last updated: December 01st 2020</Span>

<br><br>

<a href="/apply/december2020/lang-pref/is-this-home.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 40</span>
</div>

<p>
  <strong>Bank Details Error State AFCM-2487:</strong>
  <br> Including a more descriptive error and in-line error states.
</p>
<Span class="govuk-hint">Last updated: November 26th 2020</Span>

<br><br>

<a href="/apply/november2020/bank-info/bank-info-error.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 40</span>
</div>

<p>
  <strong>NINO Confirmation AFCM-2216:</strong>
  <br> Presenting a NINO confirmation screen
</p>
<Span class="govuk-hint">Last updated: November 25th 2020</Span>

<br><br>

<a href="/apply/november2020/nino/nino.html" role="button" draggable="false" class="govuk-button govuk-button--start"
  data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 40</span>
</div>
<p>
  <strong>Special Requirements AFCM-2462:</strong>
  <br> Capturing user's accessibility requirements
</p>
<Span class="govuk-hint">Last updated: November 20th 2020</Span>

<br><br>

<a href="/apply/november2020/special-requirements/contact-you.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 39</span>
</div>
<p>
  <strong>Exit Survey :</strong>
  <br> Improving link visibility and additional questions
</p>
<Span class="govuk-hint">Last updated: November 10th 2020</Span>

<br><br>

<a href="/apply/november2020/exit-survey/application-sent-3.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>

<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 39</span>
</div>
<p>
  <strong>Shared Care AFCM-1980:</strong>
  <br> Improving data capture and adding options for no arrangement
</p>
<Span class="govuk-hint">Last updated: December 14th 2020</Span>

<br><br>

<a href="/apply/november2020/shared-care/2-shared-care.html" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>


<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 34</span>
</div>
<p>
  <strong>G4S Eligibility and start page design AFCM-2252:</strong>
  <br> Adding the eligibility questions usually triaged by G4S
</p>
<Span class="govuk-hint">Last updated: August 27th 2020</Span>

<br><br>

<a href="/apply/august2020/g4s-eligibility/welcome" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<hr>
<div class="govuk-form-group">
  <span class="govuk-tag">Sprint 33</span>
</div>
<p>
  <strong>URN error page AFCM-2026:</strong>
  <br> Improving the content for the URN error messages
</p>
<Span class="govuk-hint">Last updated: August 17th 2020</Span>

<br><br>

<a href="/apply/august2020/URN-error/error" role="button" draggable="false" class="govuk-button govuk-button--start"
  data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<hr>
<div class="govuk-form-group">

  <span class="govuk-tag">Sprint 32</span>
</div>


<p><strong>Confirmation email AFCM-2212:</strong><br> Adding the question to the end of the journey</p>
<Span class="govuk-hint">Last updated: August 3rd 2020</Span>

<br><br>

<a href="/apply/august2020/confirmation-email/do-you-want-confirmation" role="button" draggable="false"
  class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
<hr>
<p>
  <strong>Same paying parent/ non-refundable fee content AFCM-2140:</strong><br> Adding content to the start page
  informing users to contact
  CMS if they have applied for maintenance from this paying parent before.<br> Adding content to the start page and
  the
  "You will need to pay a £20 fee at the end of your application" informing users the fee is non-refundable
</p>
<Span class="govuk-hint">Last updated: August 10th 2020</Span>

<br><br>

<a href="/apply/august2020/same-pp/welcome" role="button" draggable="false" class="govuk-button govuk-button--start"
  data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
</div>




























{% endblock %}