{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <!--start of answers-->

            <div class="govuk-grid-column-two-thirds-from-desktop">
                <form method="post" novalidate>
                    <h1 class="govuk-heading-xl">Check all your children's details</h1>

<h2 class="govuk-heading-m">{{data['child-1-first-name'] }}'s details</h2>

<dl class="govuk-summary-list ">


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What is {{data['child-1-first-name'] }}'s name?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">
                {{data['child-1-first-name'] }} {{data['child-1-middle-name'] }} {{data['child-1-last-name'] }}
            </p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/child_name.html">
                Change
                <span class="govuk-visually-hidden"> name</span>
            </a>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What is {{data['child-1-first-name'] }}’s date of birth?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{data['child-1-date-of-birth-day'] }} {{data['child-1-date-of-birth-month'] }} {{data['child-1-date-of-birth-year']
                }}
            </p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/child_date_of_birth.html">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
            </a>
        </dd>
    </div>



    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Is the other parent named on {{data['child-1-first-name'] }}’s birth certificate?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">Yes</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Does someone receive Child Benefit payments for {{data['child-1-first-name'] }}?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">No, no one does</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../child/1-child-benefit-V3.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
            </a>
        </dd>
    </div>

</dl>

<h2 class="govuk-heading-m">{{data['child-2-first-name'] }}'s details</h2>

<dl class="govuk-summary-list ">


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What is {{data['child-2-first-name'] }}'s name?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">
                {{data['child-2-first-name'] }} {{data['child-2-middle-name'] }} {{data['child-2-last-name'] }}
            </p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/child_name.html">
                Change
                <span class="govuk-visually-hidden"> name</span>
            </a>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What is {{data['child-2-first-name'] }}’s date of birth?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{data['child-2-date-of-birth-day'] }} {{data['child-2-date-of-birth-month'] }} {{data['child-2-date-of-birth-year']
                }}
            </p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/child_date_of_birth.html">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
            </a>
        </dd>
    </div>
    



    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Is the other parent named on {{data['child-2-first-name'] }}’s birth certificate?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">Yes</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Does someone receive Child Benefit payments for {{data['child-2-first-name'] }}?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">No, no one does</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../child/2-child-benefit-V3.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
            </a>
        </dd>
    </div>

</dl>



<h2 class="govuk-heading-m">{{data['child-3-first-name'] }}'s details</h2>

<dl class="govuk-summary-list ">


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What is {{data['child-3-first-name'] }}'s name?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">
                {{data['child-3-first-name'] }} {{data['child-3-middle-name'] }} {{data['child-3-last-name'] }}
            </p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/child_name.html">
                Change
                <span class="govuk-visually-hidden"> name</span>
            </a>
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            What is {{data['child-3-first-name'] }}’s date of birth?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{data['child-3-date-of-birth-day'] }} {{data['child-3-date-of-birth-month'] }} {{data['child-3-date-of-birth-year']
                }}
            </p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/child_date_of_birth.html">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
            </a>
        </dd>
    </div>



    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Is the other parent named on {{data['child-3-first-name'] }}’s birth certificate?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">Yes</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Does someone receive Child Benefit payments for {{data['child-3-first-name'] }}?
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">No, no one does</p>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../child/3-child-benefit-V3.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
            </a>
        </dd>
    </div>

</dl>






<h2 class="govuk-heading-m">{{data['child-4-first-name'] }}'s details</h2>

                    <dl class="govuk-summary-list ">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                What is {{data['child-4-first-name'] }}'s name?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">
                                    {{data['child-4-first-name'] }} {{data['child-4-middle-name'] }} {{data['child-4-last-name'] }}
                                </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/child_name.html">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                What is {{data['child-4-first-name'] }}’s date of birth?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['child-4-date-of-birth-day'] }} {{data['child-4-date-of-birth-month'] }} {{data['child-4-date-of-birth-year']
                                    }}
                                </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/child_date_of_birth.html">
                                    Change
                                    <span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                            </dd>
                        </div>



                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Is the other parent named on {{data['child-4-first-name'] }}’s birth certificate?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Yes</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_child/shared_care.html">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Does someone receive Child Benefit payments for {{data['child-4-first-name'] }}?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">No, no one does</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../child/4-child-benefit-V3.html">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>

                    </dl>

                    <form action="/form-handler" method="post" novalidate>

                        <input type="hidden" name="answers-checked" value="true">

                        <button type="submit" class="govuk-button">
                            Continue
                        </button>

                    </form>

            </div>



            {% include "exit-button.html" %}

        </div>

</div>
</main>
</div>




{% endblock %}