{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                    <h1 class="govuk-fieldset__heading">
                        Your bank or building society account details
                    </h1>
                </legend>
                <p class="govuk-body">Your child maintenance will be paid into this account if your service type is Collect and Pay.
                   
                    <div class="govuk-inset-text">
                        We will share these details with the other parent if we decide your service type will be Direct Pay.
                      </div>

                
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-width-two-thirds" for="account-holder" id="accountHolderDescription">
                            Name on the account
                        </label>
                        <span class="govuk-hint">Must be 18 characters or fewer. If your name is more than 18 characters, you can enter your initials. For example, enter
                        S J Thompson instead of Samantha Jane Thompson.</span>

                    <br> <br/>

                        <input class="govuk-input govuk-!-width-two-thirds" id="account-holder" name="account-holder" type="account-holder" aria-describedby="accountHolderDescription"
                            autocomplete="account-holder" spellcheck="false">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="sort-code">
                          Sort code
                        </label>
                        <div id="sort-code-hint" class="govuk-hint">
                          Must be 6 digits long
                        </div>
                        <input class="govuk-input govuk-input--width-5" id="sort-code" name="sort-code" type="text" spellcheck="false" aria-describedby="sort-code-hint" pattern="[0-9]*" inputmode="numeric">
                      </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="account-number">
                            Account number
                        </label>
                        <span class="govuk-hint"></span>
                        <input class="govuk-input govuk-!-width-two-thirds" id="account-number" name="account-number" type="text">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="roll-number">
                            Building society roll number (if you have one)
                        </label>
                        <span id="roll-number-hint" class="govuk-hint">
                            You can find it on your card, statement or passbook.
                        </span>
                        <input class="govuk-input govuk-input--width-10" id="roll-number" name="roll-number" type="text" aria-describedby="roll-number-hint"
                            spellcheck="false">
                    </div>






























                    <button type="submit" class="govuk-button">
                        Continue
                    </button>


                </form>
            </div>
                         {% include "exit-button.html" %}

        </div>
    </main>
</div>

<script>
    function show1() {
        document.getElementById('div1').style.display = 'block';
    }
    function show2() {
        document.getElementById('div1').style.display = 'none';
    }
</script> {% endblock %}