{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">  
                                Getting payments by Direct Pay
                            </h1>
                        </legend>
                    </fieldset>
                </div>

                <p>We will:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>work out how much child maintenance must be paid, and tell both parents</li>

                    <li>give both parents a payment schedule</li>

                    <li>review your calculation each year, or if either parent’s circumstances change</li>
                </ul>


                <h2 class="govuk-heading-m">If payments are not made</h2>

                <p>If the other parent stops paying child maintenance using Direct Pay or stops responding to us,
                    we can enforce Collect and Pay. There are additional fees for this.</p>
                
                    <p>We can also take action to get any missed payments, such as:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>take money directly from the other parent’s earnings</li>
    
                        <li>take money from the other parent’s bank account or building society</li>
    
                        <li>take action through the courts</li>
                    </ul>









                <form method="post" novalidate>

                   
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>

            {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}