{% extends "layout.html" %} {% set serviceName %} Calculate child maintenance {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->

                    <div class="govuk-width-container">
                        <form method="post" action="/calculator/rp/what-is-your-childs-name" novalidate>
                        {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
                        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                              <h1 class="govuk-heading-xl">We cannot calculate your child maintenance </h1>

                              <p class="govuk-body">
                                We need to know the other parent's income to give you an accurate calculation.
                              </p>
                            

                              <p class="govuk-body">
                                If you do not know the other parent's income, the <a href="https://www.gov.uk/government/publications/working-out-the-cost-of-raising-your-children
                                " class="govuk-link"> cost of raising your child guide (downloads a PDF)</a> may help you work out how much child maintenance your child might need. 
                              </p>
                            



                              <h2 class="govuk-heading-m">Help applying for child maintenance </h2>

                              <p class="govuk-body">
                                Find out how you can <a href="https://www.gov.uk/child-maintenance-service
                                " class="govuk-link">make a child maintenance arrangement</a>.
                              </p>
                            



    </div>
    {% include "exit-button.html" %}
    </div>
    </main>
    </div>
    
    {% endblock %}
    