{% extends "layout.html" %} {% set serviceName %} Calculate child maintenance {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}


<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">

      <!--start of answers-->

      <div class="govuk-grid-column-two-thirds-from-desktop">
        <form method="post" action="/calculator/rp/confirmation" novalidate>
          <h1 class="govuk-heading-xl">Check your answers</h1>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Paying or receiving child maintenance
              </dt>
              <dd class="govuk-summary-list__value">
                
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-name.html">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Other parent benefits or state pension
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-dob.html">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Does the other parent get any income
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-birth-certificate.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other parent's total taxable income
              </dt>
              <dd class="govuk-summary-list__value">
                
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-child-benefit-V3.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>

        
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Child's full name
              </dt>
              <dd class="govuk-summary-list__value">
              
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-name.html">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               How often does {{data['child-one-first-name'] }} stay overnight with the other parent
              </dt>
              <dd class="govuk-summary-list__value">
                
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-dob.html">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How many children live with the other parent
              </dt>
              <dd class="govuk-summary-list__value">
                
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-birth-certificate.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                How many children does the other parent financially support
              </dt>
              <dd class="govuk-summary-list__value">
               
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-child-benefit-V3.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Add the names of each parent to your calculation
              </dt>
              <dd class="govuk-summary-list__value">
               
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-child-benefit-V3.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your name
              </dt>
              <dd class="govuk-summary-list__value">
               
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-child-benefit-V3.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other parent's name
              </dt>
              <dd class="govuk-summary-list__value">
               
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="1-child-benefit-V3.html">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>











          </dl>
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>

      </div>



  </main>
</div>




{% endblock %}          