{% extends "layout.html" %} {% set serviceName %} Calculate child maintenance {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}

<!--Feedback banner stop-->
<div class="govuk-width-container">
    <form method="post" action="/calculator/rp/overnight-stays" novalidate>
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              
                <span class="govuk-caption-xl">You have told us about</span>
                <h1 class="govuk-heading-xl">{{data['child-one-first-name'] }} {{data['child-one-middle-name'] }} {{data['child-one-last-name'] }}</h1>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                          Do you need to add another child?
                        </h1>
                      </legend>
                      <div id="changedName-hint" class="govuk-hint">
                        You should only add children who live with you most of the time.
                      </div>
                      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="add-child-yes" name="add-child-yes" type="radio" value="add-child-yes~/calculator/rp/what-is-your-childs-name">
                          <label class="govuk-label govuk-radios__label" for="add-child">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="add-child-no" name="add-child-no" type="radio" value="add-child-no~/calculator/rp/how-many-children-live-with-other-parent">
                          <label class="govuk-label govuk-radios__label" for="add-child">
                            No
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>








                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
              </div>                                               {% include "exit-button.html" %}
        </div>
    </main>
</div>
{% endblock %}

                