{% extends "layout.html" %} {% set serviceName %} Calculate child maintenance {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}



<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
             Your estimated child maintenance calculation
          </h1>
          <div class="govuk-panel__body">
            <strong>£7.00 a week</strong> or <strong>£30.31 a month</strong>
          </div>
        </div>


        <p class="govuk-body">Based on the information you gave us, the Child Maintenance Service would calculate this as
          the estimated amount you should receive from the other parent.
        </p>

        <p class="govuk-body">This amount will be less if the other parent has to pay maintenance for children they have with someone else.
        </p>



        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            This calculation will only be an estimate - it will not be a guarantee of your child maintenance payments.

            <br> <br>

            In the Child Maintenance Service application you may be asked more questions, which can make the total payments higher or lower.
          </strong>
        </div>



        <h2 class="govuk-heading-m">Next steps</h2>

        <p class="govuk-body">
         Use this calculation as a starting point to help you agree how you will share the costs of raising your children.
        </p>
        <p class="govuk-body">
          They will contact you either to confirm your registration, or to ask for more information.
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>



{% endblock %}          