{% extends "layout.html" %} {% set serviceName %} Calculate child maintenance {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->

                    <div class="govuk-width-container">
                        <form method="post" action="/calculator/rp/what-is-your-childs-name" novalidate>
                        {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
                        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
                          <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                              <h1 class="govuk-heading-xl">If the other parent gets any taxable income</h1>

                              <p class="govuk-body">
                                If you make a child maintenance application, we will be able to find out if the other parent has any income. If they make over £100 a week, this will impact your final calculation.  
                              </p>
                            

              <button type="submit" class="govuk-button">
                Continue
              </button>

              </form>


    </div>
    {% include "exit-button.html" %}
    </div>
    </main>
    </div>
    
    {% endblock %}
    