{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form method="post" novalidate>

                  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        If you pay in to a private pension
      </h1>
    </legend>
    <p> We'll send you a letter in the post explaining how you can tell us about your private pension. </p>
    <p> You will need to send us evidence. For example, your annual pension statement or a copy of your bank statement showing the payments.</p>
    <p> This can reduce your child maintenance payments. </p>

  </fieldset>
</div>

                      <br>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}
