{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="shared-benefit-hint">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                            When was your last payslip from {{data['employer-1'] }} dated?
                            </h1>
                          </legend>

                            <br>
<!-- date 1 -->
                            <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        For example, 12 7 2021
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-1-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-1-day" name="date-1-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-1-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-1-month" name="date-1-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="date-1-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-1-year" name="date-1-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
      </div>

    </fieldset>
  </div>

                            <br>

                        </fieldset>
                      </div>
                    <br>
                    <br>

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>

                </form>
            </div>
                                                                         {% include "exit-button.html" %}

        </div>
    </main>
</div>
{% endblock %}
