{% extends "layout.html" %} {% block pageTitle %} Which of the following best describes your Mixed or Multiple ethnic
groups background? {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which of the following best describes your Mixed or Multiple ethnic groups background?
                </h1>
              </legend>

              <br>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-6" name="ethnic-background" type="radio"
                    value="Black Caribbean and White~religion">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-6">
                    White and Black Caribbean
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-7" name="ethnic-background" type="radio"
                    value="White and Black African~religion">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-7">
                    White and Black African
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-8" name="ethnic-background" type="radio"
                    value="White and Asian~religion">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-8">
                    White and Asian
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-9" name="ethnic-background" type="radio"
                    value="Another mixed background~religion" data-aria-controls="conditional-ethnic-background-9">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-9">
                    Any other Mixed or Multiple ethnic background
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-ethnic-background-9">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="ethnicity-white-other">
                      Your Mixed background (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="ethnicity-white-other"
                      name="ethnicity-white-other" type="text">
                  </div>
                </div>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-10" name="ethnic-background" type="radio"
                    value="Prefer not to say~religion">
                  <label class="govuk-label govuk-radios__label govuk-label" for="ethnic-background-10">
                    Prefer not to say
                  </label>
                </div>
              </div> <!-- govuk-radios -->

            </fieldset>
          </div>

          <br>

          <button id="personalDetailsBtn" type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}

    </div>
  </main>
</div>

{% endblock %}