{% extends "layout.html" %} {% block pageTitle %} Which of the following best describes your White background? {%
endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="religion-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which of the following best describes your White background?
                </h1>
              </legend>

              <br>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-1" name="ethnic-background" type="radio" value="English Welsh Scottish Northern Irish or British~religion">
                  <label class="govuk-label govuk-radios__label" for="religion">
                    English, Welsh, Scottish, Northern Irish or British
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-2" name="ethnic-background" type="radio"
                    value="Irish~religion">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-2">
                    Irish
                  </label>
                </div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-3" name="ethnic-background" type="radio"
                    value="Gypsy or Irish Traveller~religion">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-3">
                    Gypsy or Irish Traveller
                  </label>
                </div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-4" name="ethnic-background" type="radio"
                    value="Any other White background~religion" data-aria-controls="conditional-ethnic-background-4">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-4">
                    Any other White background
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                  id="conditional-ethnic-white-4">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="ethnicity-white-other">
                      Your White background (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="ethnicity-white-other"
                      name="ethnicity-white-other" type="text">
                  </div>
                </div>

                <div class="govuk-radios__divider">or</div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ethnic-background-5" name="ethnic-background" type="radio"
                    value="Prefer not to say~religion">
                  <label class="govuk-label govuk-radios__label" for="ethnic-background-5">
                    Prefer not to say
                  </label>
                </div>
              </div> <!-- govuk-radios-->

            </fieldset>
          </div>

          <br>

          <button id="personalDetailsBtn" type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}

    </div>
  </main>
</div>

{% endblock %}