{% extends "layout.html" %} {% block pageTitle %} Which of the following best describes your sexual orientation? {%
endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="religion-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Which of the following best describes your sexual orientation?
                </h1>
              </legend>

              <br>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-1" name="orientation" type="radio"
                    value="hetrosexual~../check-ans-equality">
                  <label class="govuk-label govuk-radios__label" for="orientation-1">
                    Hetrosexual or Straight
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-2" name="orientation" type="radio"
                    value="gay~../check-ans-equality" data-aria-controls="conditional-religion-2">
                  <label class="govuk-label govuk-radios__label" for="orientation-2">
                    Gay or Lesbian
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-3" name="orientation" type="radio"
                    value="bisexual~../check-ans-equality">
                  <label class="govuk-label govuk-radios__label" for="orientation-3">
                    Bisexual
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-4" name="orientation" type="radio"
                    value="other~../check-ans-equality" data-aria-controls="conditional-orientation">
                  <label class="govuk-label govuk-radios__label" for="orientation-4">
                    Any other sexual orientation
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-orientation">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="orientation-by-text">
                      What is your sexual orientation? (optional)
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="rorientation-by-text"
                      name="orientation-by-text" type="text">
                  </div>
                </div>

                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="orientation-5" name="orientation" type="radio"
                    value="no~../check-ans-equality">
                  <label class="govuk-label govuk-radios__label" for="orientation-5">
                    Prefer not to say
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <br>

          <button id="personalDetailsBtn" type="submit" class="govuk-button">
            Continue
          </button>

        </form>
      </div>
      {% include "exit-button.html" %}

    </div>
  </main>
</div>

{% endblock %}