{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="otherParentMoreInformation" role="group">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading" id="otherParentMoreInformation">
                                    Do you know anything else that could help us contact the other parent?
                                </h1>


                            </legend>

                            <span id="moreDetailInformation" class="govuk-hint">
                                Select all that apply.
                            </span>

                            <!--Radio start-->
                            <div class="govuk-form-group">


                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">


                                      <div class="govuk-checkboxes__item">
                                             <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
                                             <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                                          Information about their job or benefits
                                             </label>
                                           </div>
                                           <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                                             <label class="govuk-label" for=" other-contact-information">
                                             Enter any more information about the other parent's job or benefits
                                             </label>
                                             <div id="with-hint-hint" class="govuk-hint">
                                  For example, their job, their employer, their work address, their work phone number or any benefits they receive.   </div>
                                       <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
                                       <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                         You can enter up to 700
                                             </div>

                                           </div>



        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-checkboxes__label" for="contact">
            Where they get their post sent
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
          <label class="govuk-label" for=" other-contact-information">
          Enter any more information about where the other parent gets their post sent
          </label>
          <div id="with-hint-hint" class="govuk-hint">
This might be different from where they live. For example a family member's address or temporary address.    </div>
    <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
    <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
      You can enter up to 700
          </div>

  </div>

  <!-- second option  -->



                <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message"
                                            data-aria-controls="conditional-citizenship-conditional-4">
                                        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-4">
                                            Any other contact information
                                        </label>
                                    </div>
                                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-4">

                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for=" other-contact-information">
                                                Can you give more detail?
                                            </label>
                                            <span id="moreDetailInformation" class="govuk-hint">
                                                For example, an old phone number.
                                            </span>
                                            <textarea class="govuk-textarea" id="other-contact-information" name="other-contact-information" rows="5" aria-describedby="other-contact-information"></textarea>
                                        </div>

                                    </div>
                                    <div class="govuk-radios__divider">or</div>
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="where-do-you-live-6" name="where-do-you-live" type="checkbox" value="abroad">
                                        <label class="govuk-label govuk-checkboxes__label" for="where-do-you-live-6">
                                            I don't know anything else that can help
                                        </label>
                                    </div>
                                </div>
                        </fieldset>
                        </div>
                        <!--Radio end-->



                        <button type="submit" class="govuk-button">
                            Continue
                        </button>
                </form>
                </div>


                                         {% include "exit-button.html" %}

            </div>
    </main>
    </div>
    {% endblock %}
