{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner-padding-top.html" %}

<!--Feedback banner stop-->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">September 2022 - Prototype</h1>
        <p><strong>Last Update:</strong> -- September 2022</p>
        <p><strong>Flow version: </strong> --- </p>
        <p> This protoype was creates after the application fee was removed for all Child Maintenance applicants.</p>
        <a href="1-start-eligibility/welcome.html" role="button" draggable="false"
          class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>
        <p><strong>Summary of Changes:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>This is the removal of fee prototype </li>
          
          
        </ul>
        <p><strong>Sections:</strong></p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="1-start-eligibility/welcome.html">Section 1: Start and Eligibility</a>
          </li>
         
          <li>
            <a class="govuk-link" href="3-applicant-info/domestic-abuse-under-19.html">Section 3.1: Applicant (PP) info</a>
          </li>
          <li>
            <a class="govuk-link" href="3-equality/equality-question.html">Section 3.2: Equality Questions</a>
          </li>
          <li>
            <a class="govuk-link" href="3-applicant-info/pp-name.html">Section 3.3: Applicant (PP) contact info</a>
          </li>
          <li>
            <a class="govuk-link" href="4-pp-income/1-income-query.html">Section 4: PP Income</a>
          </li>
          <li>
            <a class="govuk-link" href="5-all-children/child-section-start.html">Section 5: All Children (QC/ROC/CIFBA)</a>
          </li>
          <li>
            <a class="govuk-link" href="6-service-types/direct-pay.html">Section 6: Service Types</a>
          </li>
          <li>
            <a class="govuk-link" href="7-other-parent/pp-name.html">Section 7: The Other Parent (RP)</a>
          </li>
          <li>
            <a class="govuk-link" href="8-existing-cases/previous-application.html">Section 8: Existing Cases</a>
          </li>
        
          <li>
            <a class="govuk-link" href="9-confirmation/declaration-no-fee.html">Section 9: Confirmation</a>
          </li>
        </ul>

        <p><strong>Temporary Pages:</strong></p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="temp/welcome.html">Welcome</a> temp page for removal of fee
          </li>
          <li>
            <a class="govuk-link" href="temp/cant-pay.html">Can't pay</a> temp page for removal of fee
          </li>
          <li>
            <a class="govuk-link" href="temp/pay-fee.html">Pay fee</a> temp page for removal of fee
          </li>
          
        </ul>
      </div>
    </div>
  </main>
</div>




{% endblock %}