{% extends "layout.html" %} {% set serviceName %} Apply for help arranging child maintenance {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %}

{% block content %}

{% include "feedback-banner.html" %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="" method="get" novalidate>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    Can we send letters about Child Maintenance to this address?
                                </h1>

                                <div class="govuk-inset-text">
                                    Some letters must be sent by post, such as the payment schedule.
                                  </div>
                            </legend>
                        
                            <p class="govuk-heading-m govuk-!-padding-top-5">1 The Towers <br> Hill Top Road <br>
                                Newtown <br> West Yorkshire
                                <br> NW21 7TG <br> England </b>
                            </p>

                            <div class="govuk-radios govuk-radios--inline govuk-!-padding-top-5"
                                data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="lettersAddress" name="lettersAddress"
                                        type="radio" value="yes~/apply/february2025/3-applicant-info/what-is-your-email-address.html">
                                    <label class="govuk-label govuk-radios__label" for="lettersAddress">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="lettersAddress-2" name="lettersAddress"
                                        type="radio" value="no~/apply/february2025/3-applicant-info/address-look-up-letters.html">
                                    <label class="govuk-label govuk-radios__label" for="lettersAddress-2">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>



{% endblock %}