{% extends "layout.html" %} {% set serviceName %} Apply for help arranging child maintenance {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %}

{% block content %}

{% include "feedback-banner.html" %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="can-we-send-letters.html" method="get" novalidate>
                    <h1 class="govuk-heading-xl">You cannot go back to the previous page</h1>

                    <p class="govuk-body">You can:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>continue with your registration</li>
                      <li>start again and sign in with your email and password</li>
                      
                    </ul>
             
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                          Continue
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Start again
                        </button>
                      </div>
                
                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>



{% endblock %}