{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner-padding-top.html" %}

<!--Feedback banner stop-->
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">October 2022 - Prototype</h1>
        <p><strong>Last Update:</strong> -- 2022</p>
        <p><strong>Flow version: </strong> PP -- RP -- </p>
        <p> This protoype was created after the timeframe for the removal of fee work was pushed back. </p>
        <a href="1-start-eligibility/welcome.html" role="button" draggable="false"
          class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>
        <p><strong>Summary of Changes:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>All prior removal of fee work has been revoked </li>
          <li> All 'you have told us' pages where we replayed information unnecessarily have been removed</li>


        </ul>
        <p><strong>Sections:</strong></p>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="1-start-eligibility/welcome.html">Section 1: Start and Eligibility</a>
          </li>
        </ul>
<br>
        <p><strong>PP Specific:</strong></p>
        <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="2-fees/check-age.html">Section 2: Fees</a>
        </li>

        <li>
          <a class="govuk-link" href="3-applicant-info/pp-name.html">Section 3: Applicant Info Gather</a>
        </li>
        <li>
          <a class="govuk-link" href="4-pp-income/1-income-query.html">Section 4: PP Income</a>
        </li>
        <li>
          <a class="govuk-link" href="5-all-children/child-section-start.html">Section 5: All Children
            (QC/ROC/CIFBA)</a>
        </li>
        <li>
          <a class="govuk-link" href="6-service-types/direct-pay.html">Section 6: Service Types</a>
        </li>
        <li>
          <a class="govuk-link" href="7-other-parent/pp-name.html">Section 7: The Other Parent (RP)</a>
        </li>
        <li>
          <a class="govuk-link" href="8-existing-cases/previous-application.html">Section 8: Existing Cases</a>
        </li>

        <li>
          <a class="govuk-link" href="9-confirmation/declaration-no-fee.html">Section 9: Confirmation</a>
        </li>
        </ul>
        <br>
        <p><strong>RP Specific:</strong></p>
        <p>
          Please Note: Section 4 does not exist for RP users
        </p>
        
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="2-fees-rp/check-age.html">Section 2: Fees</a>
          </li>
          <li>
            <a class="govuk-link" href="3-applicant-info-RP/rp-name.html">Section 3: Applicant Info Gather</a>
          </li>
          
          
          <li>
            <a class="govuk-link" href="5-children-info-RP/1-name.html">Section 5: Child Info Gather</a>
          </li>
          <li>
            <a class="govuk-link" href="6-service-types-RP/direct-pay.html">Section 6: Service Types</a>
          </li>
          <li>
            <a class="govuk-link" href="7-other-parent-RP/pp-name.html">Section 7: Other Parent (PP)</a>
          </li>
          <li>
            <a class="govuk-link" href="8-existing-cases-RP/previous-application.html">Section 8: Previous Application</a>
          </li>
          <li>
            <a class="govuk-link" href="9-confirmation-RP/declaration-fee.html">Section 9: Declaration</a>
          </li>
        </ul>


      </div>
    </div>
  </main>
</div>




{% endblock %}