{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <!--start-->
          <!-- <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                  <h1 class="govuk-fieldset__heading">
                    Do you know anything else that could help us contact the other parent?
                  </h1>
                </legend>
                <span id="other-parent-date-of-birth-hint" class="govuk-hint">
                  Select all that apply.
                </span>


                <div class="govuk-!-padding-bottom-5"></div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="extra-info-1" name="extra-info" type="checkbox" value="phone"
                    data-aria-controls="conditional-contact-1">
                  <label class="govuk-label govuk-checkboxes__label" for="extra-info-1">
                    Information about their job or benefits
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact-1">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="input-1">
                      Email address
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="input-1" name="input-1"
                      type="text" spellcheck="false" autocomplete="email">
                  </div>
                </div>


                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="extra-info-2" name="extra-info" type="checkbox" value="phone"
                    data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-checkboxes__label" for="extra-info-2">
                    Where they get their post sent
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="input-2">
                      Email address
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="input-2" name="input-2"
                      type="text" spellcheck="false" autocomplete="email">
                  </div>
                </div>


                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone"
                    data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                    Any other contact information
                  </label>
                </div>

                <div class="govuk-checkboxes__divider">or</div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone"
                    data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                    I don't know anything else that can help
                  </label>
                </div>

                <div class="govuk-!-padding-bottom-5"></div> -->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Do you know anything else that could help us contact the other parent?
                </h1>
              </legend>
              <div id="contact-hint" class="govuk-hint">
                Select all that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email"
                    data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                    Information about their job or benefits
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Enter any more information about the other parent's job or benefits
                    </label>
                    <div id="contact-hint" class="govuk-hint">
                      For example, their job title, employer name, work address, work phone number or any benefits they
                      receive
                    </div>
                    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="7"
                      aria-describedby="more-detail-hint"></textarea>
                    <div id="contact-hint" class="govuk-hint">
                      You have 700 characters remaining
                    </div>
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone"
                    data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                    Where they get their post sent
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-phone">
                      Enter any more information about where the other parent gets their post sent
                    </label>
                    <div id="contact-hint" class="govuk-hint">
                      This might be different from where they live. For example a family member's address or temporary
                      address
                    </div>
                    <textarea class="govuk-textarea" id="more-detail-2" name="moreDetail-2" rows="7"
                      aria-describedby="more-detail-hint"></textarea>
                    <div id="contact-hint" class="govuk-hint">
                      You have 700 characters remaining
                    </div>
                  </div>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox"
                    value="text message" data-aria-controls="conditional-contact-3">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                    Any other contact information
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-contact-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      Can you give more detail?
                    </label>
                    <div id="contact-hint" class="govuk-hint">
                      For example, their employment status or other contact details
                    </div>
                    <textarea class="govuk-textarea" id="more-detail-3" name="moreDetail-3" rows="7"
                      aria-describedby="more-detail-hint"></textarea>
                    <div id="contact-hint" class="govuk-hint">
                      You have 700 characters remaining
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox"
                    value="text message" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                    I do not know anything else that can help
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!--Stop-->

          <a href="check-your-answers" role="button" draggable="false" class="govuk-button">
            Continue
          </a>

        </form>
      </div>

      {% include "exit-button.html" %}

    </div>
  </main>
</div>



{% endblock %}