{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

          <!--start-->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="otherParentKnowAddressInformation">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                <h1 class="govuk-fieldset__heading" id="otherParentKnowAddressInformation">
                  What is the other parent's previous address?
                </h1>
              </legend>
              <p class="govuk-body">Tell us as much information as you can.</p>

              <!-- <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span class="govuk-visually-hidden">Warning</span>
                  Giving us as much information as possible can help us process your application faster.
                </strong>
              </div> -->

              <div class="govuk-radios govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="op-prev-address-1" name="op-prev-address" type="radio"
                    value="yes~pp-previous-postcode">
                  <label class="govuk-label govuk-radios__label" for="op-prev-address-1">
                    I know the other parent's full previous address and postcode 
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="op-prev-address-2" name="op-prev-address" type="radio"
                    value="no~pp-previous-address-2">
                  <label class="govuk-label govuk-radios__label" for="op-prev-address-2">
                    I know part of the other parent's previous address
                  </label>
                </div>

                <!-- Conditional radios one -->

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="op-prev-address-3" name="op-prev-address" type="radio"
                      value="yes~pp-anything-else" data-aria-controls="op-prev-address-3-conditional">
                    <label class="govuk-label govuk-radios__label" for="op-prev-address">
                      I know the town or city the other parent previously lived in or near 
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                    id="op-prev-address-3-conditional">
                    <div class="govuk-form-group">
                      <div class="govuk-date-input__item">
                        <label class="govuk-label govuk-date-input__label" for="op-prev-address-town">
                          Town or city
                        </label>

                        <input class="govuk-input govuk-input govuk-input--width-10" id="op-prev-address-town"
                          name="op-prev-address-town" type="number" spellcheck="false">

                      </div>
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="op-prev-address-4" name="op-prev-address" type="radio"
                      value="yes~pp-anything-else" data-aria-controls="op-prev-address-4-conditional">
                    <label class="govuk-label govuk-radios__label" for="op-prev-address-4">
                      I know the area of the UK the other parent previously lived in
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="op-prev-address-4-conditional">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="op-prev-address-area">
                        Area
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="op-prev-address-area" name="op-prev-address-area"
                        type="tel" autocomplete="tel">
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="op-prev-address-5" name="op-prev-address" type="radio"
                    value="yes~pp-anything-else">
                  <label class="govuk-label govuk-radios__label" for="op-prev-address-5">
                    I do not know anything about the other parent's previous address 
                  </label>
                </div>


              </div>
            </fieldset>
          </div>
          <!--Stop-->




          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>
      </div>
      {% include "exit-button.html" %}

    </div>
  </main>
</div>

{% endblock %}