{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                                <h1 class="govuk-fieldset__heading">
                                     You need to call
                                </h1>
                            </legend>
                            <p>You need to call the Child Maintenance Service if you’ve had a court decision in the last 12 months.
</p>
<p> When you call, you’ll need to tell us the date the court decision started.  </p>
<div class="govuk-inset-text">


    <p>
        <strong>Child Maintenance Service (England, Scotland and Wales)</strong>
        <br> Telephone: 0800 171 2345
        <br> Relay UK: 18001 0800 171 2345
        <br/>
        <br>Monday to Friday, 9.30am to 3.30pm (excluding bank holidays)
        <br>Calls to the Child Maintenance Service are free from landlines and mobiles
        <br>
        <br/>
        <strong>Child Maintenance Service (Northern Ireland)</strong>

        <br> Telephone: 0800 171 2345
        <br> Relay UK: 18001 0800 232 1956
        <br/>
        <br>Monday to Friday, 9.30am to 3.30pm (excluding bank holidays)
        <br>Calls to the Child Maintenance Service are free from landlines and mobiles
        <br>
        <br/>
        <strong>If you use British or Irish sign language</strong> <br/><br/>

        <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">Check if you can use the video sign language relay service</a>
      <br/><br/>  <a href="http://dwpcmg.signvideo.net/">Video relay service for British Sign Language (BSL) users</a>
        <a href="http://dwpcmgni.signvideo.net/">Video relay service for Irish Sign Language (ISL) users</a>

        <br>
        <br> Monday to Friday, 9.30am to 3.30pm (excluding bank holidays)
        <br>

</div>
                            <!--end-->

                </form>
                </div>
                </div>
                             {% include "exit-button.html" %}
</div>
            </div>
    </main>
    </div>
    {% endblock %}
