{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <!--start of answers-->

            <div class="govuk-grid-column-two-thirds-from-desktop">
                <form method="post" novalidate>
                    <h1 class="govuk-heading-xl">Check {{data['cifba-first-name'] }} {{data['cifba-last-name'] }}'s details</h1>


                    <dl class="govuk-summary-list ">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                What is {{data['cifba-first-name'] }}'s name?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">
                                    {{data['cifba-first-name'] }} {{data['cifba-middle-name'] }} {{data['cifba-last-name'] }}
                                </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="cifba-child-name-1">
                                    Change
                                    <span class="govuk-visually-hidden"> name</span>
                                </a>
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                What is {{data['cifba-first-name'] }}’s date of birth?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['cifba-dob-day'] }}
                                  {% if data['cifba-dob-month'] === '1' %}
                                  January
                                  {% elseif data['cifba-dob-month'] === '2' %}
                                  February
                                  {% elseif data['cifba-dob-month'] === '3' %}
                                  March
                                  {% elseif data['cifba-dob-month'] === '4' %}
                                  April
                                  {% elseif data['cifba-dob-month'] === '5' %}
                                  May
                                  {% elseif data['cifba-dob-month'] === '6' %}
                                  June
                                  {% elseif data['cifba-dob-month'] === '7' %}
                                  July
                                  {% elseif data['cifba-dob-month'] === '8' %}
                                  August
                                  {% elseif data['cifba-dob-month'] === '9' %}
                                  September
                                  {% elseif data['cifba-dob-month'] === '10' %}
                                  October
                                  {% elseif data['cifba-dob-month'] === '11' %}
                                  November
                                  {% elseif data['cifba-dob-month'] === '12' %}
                                  December
                                    {% endif %}


                                   {{data['cifba-dob-year']
                                    }}
                                </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="cifba-child-dob-1">
                                    Change
                                    <span class="govuk-visually-hidden"> date of birth</span>
                                </a>
                            </dd>
                        </div>





                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            {{data['cifba-first-name'] }}&rsquo;s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['cifba-address-line-1']}}<br>{{data['cifba-address-line-2']}}<br>{{data['cifba-address-postcode']}} </p>

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="cifba-child-address-1">
                                    Change
                                    <span class="govuk-visually-hidden">address details</span>
                                </a>
                            </dd>
                        </div>


                        <!-- <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                            Does {{data['oc-1-first-name'] }} live with you most of the time?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Yes</p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_oc/shared_care.html">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div> -->

                        <!-- <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                How do you support {{data['oc-1-first-name'] }}?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['support']}} </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_oc/shared_care.html">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div> -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                How much do you pay to support {{data['cifba-first-name'] }} each {{data['support']}}?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">
                                  {% if data['support'] === 'weekly' %}
                                  £{{data['weekly-support']}}

                                      {% elseif data['support'] === 'monthly' %}
                                        £{{data['monthly-support']}}

                                      {% elseif data['support'] === 'yearly' %}
                                        £{{data['yearly-support']}}

                                      {% elseif data['support'] === 'occassional' %}
                                        £{{data['occassional-support']}}
                                                        {% endif %}



                                 </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="../about_qualifying_oc/cifba-child-pay-1">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Does {{data['cifba-first-name'] }}&rsquo;s other parent receive Child Benefit for {{data['cifba-first-name'] }}?
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">{{data['cifba-benefit']}} </p>
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="cifba-child-benefit-1">
                                    Change
                                    <span class="govuk-visually-hidden"> contact details</span>
                                </a>
                            </dd>
                        </div>





                    </dl>

                    <form action="/form-handler" method="post" novalidate>

                        <input type="hidden" name="answers-checked" value="true">

                        <button type="submit" class="govuk-button">
                            Continue
                        </button>

                    </form>

            </div>



            {% include "exit-button.html" %}

        </div>

</div>
</main>
</div>




{% endblock %}
