{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <!--start of radio-->
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="live-uk-hint">
                            <legend
                                class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-fieldset__legend--xl govuk-!-margin-bottom-9">
                                <h1 class="govuk-fieldset__heading">
                                    You will not have to pay an application fee
                                </h1>
                            </legend>
                            <p class="govuk-body"> Based on your answers, you will not have to pay a fee to complete
                                your application.
                            </p>
                        </fieldset>
                    </div>
                    <!--end-->

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>
{% endblock %}