{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">

            <!--start of answers-->

            <div class="govuk-grid-column-two-thirds-from-desktop">
                <form method="post" novalidate>

                    <h1 class="govuk-heading-xl">Check your answers</h1>


<h2 class="govuk-heading-m">
 Child maintenance payments
</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Could a Direct Pay arrangement work for you?
        </dt>
        <dd class="govuk-summary-list__value">
            No
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_other_parent/other_parent_name.html">
                Change
                <span class="govuk-visually-hidden"> name</span>
            </a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Would you like us to pass your bank or building society account details on to the other parent?
        </dt>
        <dd class="govuk-summary-list__value">
            Yes
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../about_other_parent/other_parent_name.html">
                Change
                <span class="govuk-visually-hidden"> name</span>
            </a>
        </dd>
    </div>
    </dl>
    
    <h2 class="govuk-heading-m">Bank or building society details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name on the account
            </dt>
            <dd class="govuk-summary-list__value">
                {{data['account-holder'] }} </br class=" govuk-!-margin-bottom-9"> {{data['account-number'] }}</br>
                </br>{{data['sort-code-number-1'] }} {{data['sort-code-number-2'] }} {{data['sort-code-number-3'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../service_choice/collect_and_pay_bank_details.html">
                    Change
                    <span class="govuk-visually-hidden"> name</span>
                </a>
            </dd>
        </div>
    
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sort code
            </dt>
            <dd class="govuk-summary-list__value">
    
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../service_choice/collect_and_pay_bank_details.html">
                    Change
                    <span class="govuk-visually-hidden"> name</span>
                </a>
            </dd>
        </div>
    
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Account number
            </dt>
            <dd class="govuk-summary-list__value">
                {{data['sort-code-number-1'] }} {{data['sort-code-number-2'] }} {{data['sort-code-number-3'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../service_choice/collect_and_pay_bank_details.html">
                    Change
                    <span class="govuk-visually-hidden"> name</span>
                </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Building society roll number
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="../service_choice/collect_and_pay_bank_details.html">
                    Change
                    <span class="govuk-visually-hidden"> name</span>
                </a>
            </dd>
        </div>


</dl>

<form action="/form-handler" method="post" novalidate>

    <input type="hidden" name="answers-checked" value="true">

    <button type="submit" class="govuk-button">
        Continue
    </button>

</form>

</div>



{% include "exit-button.html" %}

</div>

</div>
</main>
</div>




{% endblock %}