{% extends "layout.html" %} {% block pageTitle %} Could a Direct Pay arrangement work for you?
{% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                              How you get child maintenance 
                            </h1>
                        </legend>
                    </fieldset>
                </div>
            
                <p class="govuk-body govuk-!-font-weight-bold">There are two ways you can get child maintenance payments.</p>
  
                <div class="govuk-!-padding-bottom-5"></div>
               

<!-- Direct pay section -->
              
<h2 class="govuk-heading-m">Direct Pay</h2>

<p>The other parent will pay child maintenance directly into your bank account.</p>

<p>You do not need to have any contact with the other parent and there are no additional fees.</p>


<div class="govuk-!-padding-bottom-5"></div>


<!-- Collect and pay section  -->

<h2 class="govuk-heading-m">Collect and Pay</h2>

<p>The Child Maintenance Service will collect maintenance from the other parent and pass it to you.</p>

<p>There are extra fees for this service, which are:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>20% will be added to the amount the other parent pays</li>
  <li>4% will be taken off the payment you get </li>
</ul>

<p>For example, if the payment amount was £100, the other parent would pay £120 and you would get £96.</p>

<p>You can only start with Collect and Pay if the other parent agrees to it.</p>

<p>Collect and Pay can be enforced if the other parent stops responding to us or stops making payments.</p>

                <form method="post" novalidate>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset"  role="group">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                                <h1 class="govuk-fieldset__heading" >
                                    Would you prefer to pay using Direct Pay or Collect and Pay?

                                </h1>
                            </legend>
                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="payment-type-1" name="payment-type" type="radio" value="Direct Pay~direct-pay-stops-working"
                                        aria-controls="conditional-other-parent-dob-1" aria-expanded="true">
                                    <label class="govuk-label govuk-radios__label" for="yes">
                                        Direct Pay
                                    </label>
                                </div>



                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="payment-type-2" name="payment-type" type="radio" value="Collect and Pay~collect-and-pay">
                                    <label class="govuk-label govuk-radios__label" for="no">
                                        Collect and Pay
                                    </label>
                                </div>
                            </div>
                    </div>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
                </div>

                                 {% include "exit-button.html" %}

            </div>
    </main>
    </div>
    {% endblock %}
