{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                    </div>




                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset"  role="group">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                                <h1 class="govuk-fieldset__heading" >
                                    Would you like us to pass your bank or building society account details on to the other parent?
                                </h1>
                            </legend>
                            <p>
                                The other parent will need your bank or building society details so they can make Direct Pay payments into your account.
                            </p>

                            <div class="govuk-inset-text">
                                You might have to use Collect and Pay if the other parent has a history of missing payments using the service.
                              </div>

                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="account-details-1" name="account-details" type="radio" value="Yes~bank-info-direct-pay"
                                        aria-controls="conditional-other-parent-dob-1" aria-expanded="true">
                                    <label class="govuk-label govuk-radios__label" for="other-parent-dob-1">
                                        Yes
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="account-details-2" name="account-details" type="radio" value="No~check-your-answers-bank">
                                    <label class="govuk-label govuk-radios__label" for="other-parent-dob-2">
                                        No
                                    </label>
                                </div>
                                <p> or </p>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="account-details-3" name="account-details" type="radio" value="The other parent already has my bank or building society details~check-your-answers-bank">
                                    <label class="govuk-label govuk-radios__label" for="other-parent-dob-2">
                                      The other parent already has my bank or building society details
                                    </label>
                                </div>

                            </div>
                    </div>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>
</div>
             {% include "exit-button.html" %}

            </div>
    </main>
    </div>
    {% endblock %}
