<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
           Private beta
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – 
            <a class="govuk-link" href="../feedback/feedback_form.html" target="_blank">Email us if there is anything wrong with it</a>.
        </span>
    </p>
</div>

<style>
    .govuk-main-wrapper {
        padding-top: 0px !important;
    }

    .banner_fix_space {
        padding-top: 30px !important;
    }

    .govuk-back-link {
        margin-top: 30px !important;
        margin-bottom: 30px !important;

    }
</style>