
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
              <span class="govuk-caption-xl">Private Beta prototype </span>

      <h1 class="govuk-heading-xl">
         Apply for help arranging child maintenance
      </h1>

      <div class="govuk-form-group">
      <span class="govuk-tag">Latest full journey</span>
      </div>


            <Span class="govuk-hint">Last updated: August 3rd 2020</Span>
      <!-- <a href="apply/current/welcome" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button"> -->
      <p><a class="govuk-link" href="apply/current/welcome">Full end to end</a></p>





      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
            Survey
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
          September 2021
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/survey/help-improve-service">Phone Journey </a>
              </li>
              <li>
                <a class="govuk-link" href="apply/survey/survey-online/help-improve-service">Online</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                Paying Parent Version 2
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              5th November 2021
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/paying-parent/6-pp-qualifying-children/version2/1-name.html">Children</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                Paying Parent Version 1
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              January - October 2021
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/paying-parent/2-eligibility/live-in-uk.html">Section 1: PP Eligibility - Check Applicant Eligbility and URN</a>
              </li>
              <li>
                <a class="govuk-link" href="apply/paying-parent/3-pp-auth/check-age.html">Section 2: PP Fees - Check Fee Requirement</a>
              </li>
              <li>
                <a class="govuk-link" href="apply/paying-parent/4-pp-info/pp-name.html">Section 3: PP Information - Capture Application Information</a>
              </li>
              <li>
                <a class="govuk-link" href="apply/paying-parent/5-pp-income/1-income-query.html">Section 4: PP income</a>
              </li>
              <li>
                <a class="govuk-link" href="apply/paying-parent/6-pp-qualifying-children/1-name.html">Section 5: Qualifying Children</a>
              </li>
              <li>
                <a class="govuk-link" href="/apply/paying-parent/7-service-types/direct-pay.html">Section 6: Service Type</a>
              </li>
              <li>
                <a class="govuk-link" href="/apply/paying-parent/8-other-parent/pp-name.html">Section 7: Other Parent</a>
              </li>
              <li>
                <a class="govuk-link" href="apply/paying-parent/8-other-children/1-other-children.html">Section 8: Other Children</a>
              </li>
              <li>
                <a class="govuk-link" href="/apply/paying-parent/9-pp-existing-case/previous-application.html">Section 9: Existing Cases  </a>
              </li>
              <li>
                <a class="govuk-link" href="/apply/paying-parent/10-confirmation-email/do-you-want-confirmation.html">Section 10: Confirmation  </a>
              </li>
            </ul>

            <a href="apply/paying-parent/1-start/pp-welcome.html" role="button" draggable="false" class="govuk-button govuk-button--start"
              data-module="govuk-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true"
                focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg>


            </a>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
              Diversity Questions AFCM-2382
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
            Including Ethnicity, religion and sexual orientation question
            </div>
          </div>
          <p>March 1st 2021 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/january2021/diversity/extra-question.html">Diversity questions</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-5">
              Welsh Language Preferences AFCM-2498
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
          Displays language preferences for users living in Wales
            </div>
          </div>
          <p>Decemeber 1st 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-5">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/december2020/lang-pref/is-this-home.html">Welsh Language</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-6">
            Bank Details Error State AFCM-2487
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-6">
        Including a more descriptive error and in-line error states.
            </div>
          </div>
          <p>November 26th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-6">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/november2020/bank-info/bank-info-error.html">Bank details</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-7">
            NINO Confirmation AFCM-2216
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-7">
              Presenting a NINO confirmation screen
            </div>
          </div>
          <p>November 25th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-7">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/november2020/nino/nino.html">NINO Confirmation</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-8">
            Special Requirements AFCM-2462
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-8">
              Capturing user's accessibility requirements
            </div>
          </div>
          <p>November 20th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-8">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/november2020/special-requirements/contact-you.html">Special Requirements</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-9">
          Exit Survey
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-9">
              Improving link visibility and additional questions
            </div>
          </div>
          <p>November 10th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-9">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/november2020/exit-survey/application-sent-3.html">Exit Survey</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-10">
          Shared Care AFCM-1980
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-10">
              Improving data capture and adding options for no arrangement
            </div>
          </div>
          <p>December 14th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-10">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/november2020/shared-care/2-shared-care.html">Shared care</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-11">
          G4S Eligibility and start page design AFCM-2252
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-11">
              Adding the eligibility questions usually triaged by G4S
            </div>
          </div>
          <p>August 27th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-11">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/august2020/g4s-eligibility/welcome">G4S Eligibility </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-12">
          URN error page AFCM-2026
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-12">
              Improving the content for the URN error message
            </div>
          </div>
          <p>August 17th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-12">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/august2020/URN-error/error">URN error page</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-13">
          Confirmation email AFCM-2212
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-13">
              Adding the question to the end of the journey
            </div>
          </div>
          <p>August 3rd 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-13">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/august2020/confirmation-email/do-you-want-confirmation">Confirmation email</a>
              </li>

            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-14">
          Same paying parent / non-refundable fee content AFCM-2140
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-14">
              Adding content to the start page informing users they have to contact CMS if they have applied for maintenance from this paying parent before.
  Adding content to the start page and the "You will need to pay a £20 fee at the end of your application" informing users the fee is non-refundable
            </div>
          </div>
          <p>August 11th 2020 </p>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-14">
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="apply/august2020/same-pp/welcome">  Same paying parent / non-refundable fee </a>
              </li>

            </ul>
          </div>
        </div>
      </div>


{% endblock %}
