{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
{% include "feedback-banner.html" %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form class=“form” action='/apply/february2025/2-fees-rp/domestic-abuse.html' method=“post”>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
              <h1 class="govuk-fieldset__heading">
                What format do you need us to use when we contact you by phone?
              </h1>
            </legend>

            <div class="govuk-form-group">
              <span id="contact-time-hint" class="govuk-hint">
                Select all that apply
              </span>
            </div>
            <br>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="communication" name="communication" type="checkbox"
                  value="communication~phone-number">
                <label class="govuk-label govuk-checkboxes__label" for="communication">
                  Communication support
                </label>
                <br>
                <span id="more-detail-hint" style="margin-left:15px" class="govuk-hint">
                  For example, if you need someone else to make calls for you </span>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="induction" name="induction" type="checkbox"
                  value="induction~phone-number">
                <label class="govuk-label govuk-checkboxes__label" for="induction">
                  Relay UK, Type talk or text phone
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="minicom" name="minicom" type="checkbox"
                  value="minicom~phone-number">
                <label class="govuk-label govuk-checkboxes__label" for="minicom">
                  Sign language

                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="text" name="other" type="checkbox" value="text">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Something else
                </label>
              </div>
              <div class="govuk-form-group" id="text_reveal">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="700">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="with-hint">
                      How can we help when we contact you by phone?
                    </label>

                    <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5"
                      aria-describedby="with-hint-info with-hint-hint"></textarea>
                  </div>

                  <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 700 characters
                  </div>

                </div>
                </fieldset>
              </div>
            </div> <!-- govuk-checkboxes -->
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper">
             
              </h1>
              <div id="more-detail-hint" class="govuk-body">
               How can we help you when we send you letters?
              </div>
              <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              <div id="more-detail-hint" class="govuk-hint">
               You have 700 characters remaining
               </div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="govuk-button">
              Continue
            </button>
          </div>
        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>

</div>

<!-- ///Routes script start -->

<script>

  document.getElementById("text_reveal").style.display = "none";
  // assign function to onclick property of checkbox
  document.getElementById('text').onclick = function () {
    // call toggleSub when checkbox clicked
    // toggleSub args: checkbox clicked on (this), id of element to show/hide
    toggleSub(this, 'text_reveal');
  };
  // called onclick of checkbox
  function toggleSub(box, id) {
    // get reference to related content to display/hide
    var el = document.getElementById(id);

    if (box.checked) {
      el.style.display = 'block';
    } else {
      el.style.display = 'none';
    }
  }
</script>

<!-- ///Routes script end-->

{% endblock %}