{% extends "layout.html" %} {% block pageTitle %} We cannot make a child arrangement for this child {% endblock %} {%
block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">We cannot make a child maintenance arrangement for [Child name]</h1>
                <p>The Child Maintenance Service can only make child maintenance arrangements for children who are under
                    the age of 20. 
                </p>
                <p>Some separated parents make their own arrangements to support older children.</p>
                <p>If you have children under 20, you can continue with your application for those children.</p>

                <div class="govuk-button-group">
                    <!--childs first name-->
                    <a href="1-name.html" role="button" draggable="false" class="govuk-button"
                        data-module="govuk-button">
                        Continue
                    </a>
                    <!-- would need a drop out -->

                    <a href="1-qc-cancel-application.html" role="button" draggable="false"
                        class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel application
                    </a>
                </div>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>
{% endblock %}