{% extends "layout.html" %} {% block pageTitle %} Do you, the other parent, or someone else receive child benefit for
this child? {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="cifba-benefit-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  Do you, the other parent, or someone else receive child benefit for {{data['child-1-first-name'] }}?
                </h1>
              </legend>
              <p>If your child is receiving child benefit, it helps us to process your Child Maintenance application
                more quickly. It does not matter which adult receives the child benefit.</p>
              <div class="govuk-inset-text">
                If you are not a UK national and your visa says "no recourse to public funds" - do not apply for child
                benefit. You will be unsuccessful and this will slow your application. </div>
              <div class="govuk-radios">
                <div class="govuk-radios__item" id="cifba-benefit">
                  <input class="govuk-radios__input" id="cifba-benefit-1" name="cifba-benefit" type="radio"
                    value="yes~3-check-your-answers-roc">
                  <label class="govuk-label govuk-radios__label" for="cifba-benefit-1">
                    Yes, I do
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cifba-benefit-2" name="cifba-benefit" type="radio"
                    value="no~3-check-your-answers-roc">
                  <label class="govuk-label govuk-radios__label" for="cifba-benefit-2">
                    Yes, the other parent does
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cifba-benefit-2" name="cifba-benefit" type="radio"
                    value="no~3-check-your-answers-roc">
                  <label class="govuk-label govuk-radios__label" for="cifba-benefit-2">
                    Yes, someone else does
                  </label>
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email"
                      data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-radios__label" for="contact">
                      No
                    </label>
                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                      You may want to apply for child benefit before you make this application.
                      If you go ahead before you've applied for child benefit, we will need to contact you to process
                      your application - please save the following number to your phone now: [contact number]
                    </div>
                  </div>
                  <div class="govuk-radios__divider">or</div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="cifba-benefit-3" name="cifba-benefit" type="radio"
                      value="I don't know~3-check-your-answers-roc">
                    <label class="govuk-label govuk-radios__label" for="cifba-benefit-3">
                      I am not eligible to apply for child benefit
                    </label>
                    <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                      We will need to contact you to process your application - please save the following number to your
                      phone now: [contact number]
                    </div>
                  </div>
                </div>
            </fieldset>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How do I apply to receive child benefit for my child?
                </span>
              </summary>
              <div class="govuk-details__text">
                You can <a href="" class="govuk-link">
                  apply for child benefit online
              </a>(link opens in a new tab).
              </div>
            </details>
          </div>
          <br>
          <button type="submit" class="govuk-button">
            Continue
          </button>

        </form>
      </div>
      {% include "exit-button.html" %}

    </div>
  </main>
</div>
{% endblock %}